[2017-11-21 04:49] dckc opened #55 "multiple versions of sbt: 0.13.16 in comm, 0.13.11 in rholang"
Is this important? It slows down builds.

[2017-11-21 04:50] dckc opened #56 "rholang: dozens of scala compiler warnings"
e.g.

[code]

full log:
https://travis-ci.org/rchain/rchain/builds/305097535?utm_source=github_status&utm_medium=notification

[2017-11-21 05:03] dckc opened #57 "5 different scala versions?!?!?!"
rchain/comm
[info] 'compiler-interface' not yet compiled for Scala 2.12.3. Compiling...

rchain/rholang
[info] 'compiler-interface' not yet compiled for Scala 2.10.6. Compiling...

rchain/rholang
[info] 'compiler-interface' not yet compiled for Scala 2.11.8. Compiling...

rchain/roscala
[info] 'compiler-interface' not yet compiled for Scala 2.10.6. Compiling...

rchain/storage
[info] 'compiler-int

[2017-11-21 05:06] dckc opened #58 "not found: type RChainException in storage"
[code]

etc.

[2017-11-21 05:46] MParlikar commented on #55
Yes it is important.  We will pick 1 version and document it.  Thank you

[2017-11-21 11:25] DoSOfRedRiver commented on #55
I guess we should move towards to sbt 1.x, but it should take some time to test build with new sbt version.

[2017-11-21 17:55] tymm commented on #58
@DoSOfRedRiver is working on fixing CI.
@griff-pyrofex seems like you forgot to add the file which contains `RChainException`? Also `Storage` is missing.

[2017-11-21 19:42] dckc commented on #55
sbt 1.x is known to not work. I tried it and failed; Chris told me it's too new. I don't see any particular benefit to moving to 1.x.

But please do try to build rholang with 0.13.16. Maybe I'll find time to try it.

[2017-11-22 21:49] griff-pyrofex commented on #58
When I look in the dev branch of storage, https://github.com/rchain/rchain/tree/dev/storage/src/main/scala/coop/rchain/storage, I see all seven of the scala files I expect.  I’ve attached a screenshot.

The class RChainException is defined in src/main/scala/coop/rchain/storage/Lmdb.scala, which is present, as far as I can tell.

I have also attached a trace of me cloning, building, and running the

[2017-11-22 22:19] dckc commented on #58
When I compare your log to the raw log from [build 8](https://travis-ci.org/rchain/rchain/builds/305097535?utm_source=github_status&utm_medium=notification), the first thing I notice is your says `Getting org.scala-sbt sbt 1.0.3` where build 8 says `Getting org.scala-sbt sbt 0.13.9`.

Yours says `Compiling 12 Scala sources` where build 8 says `Compiling 5 Scala sources`.

Very odd...

[2017-11-22 22:24] MParlikar commented on #58
When I have hit this issue in the past (read- distant past) - I have found
that starting with a completely fresh 'get' or 'clone' of the repo in a
fresh environment will expose the issue.  In almost every instance when I
have hit this issue, I have missed a dependency or missed committing a file
to the repository.

I would strongly advise going that route, to make sure that all the right
stuff has

[2017-11-22 22:31] dckc commented on #58
Grif's screenshot shows cd3964f; my work started from Kent's 21be575; their common ancestor is 83a9a9a from Nov 8, which is missing quite a bit of Grif's work. I think that's what's going on.

[2017-11-22 22:33] MParlikar commented on #58
Great - give it a shot from the right start point and let me know.  thanks!

On Wed, Nov 22, 2017 at 2:31 PM, Dan Connolly <notifications@github.com>
wrote:

[2017-11-22 22:46] dckc commented on #55
I suppose sbt is "the devil you know" but this [So, what's wrong with SBT?](http://www.lihaoyi.com/post/SowhatswrongwithSBT.html) rings true to me.

I wonder if gradle would be substantially less horrible.

[2017-11-22 22:47] dckc commented on #55
oh... I see gradle offers nothing like `sbt console`. Bzzt.

[2017-11-22 22:57] dckc commented on #58
Yup; after I rebased to a more current `dev` with Grif's work, all is well:

  - [build 9](https://travis-ci.org/rchain/rchain/builds/306052405)

[2017-11-22 22:57] #58 closed

[2017-11-23 04:15] dckc commented on #57
In PR #60, this seems to work:
 - e441157 storage: scalaVersion 2.12.3 to match comm etc.
 - 2462d64 rholang: scalaVersion 2.12.3 to match comm etc.  …

[2017-11-23 04:17] dckc commented on #55
in PR #60, this seems to work:
 - 64d0ede uniform sbt version: 0.13.16

[2017-11-23 17:31] griff-pyrofex commented on #57
None of my code should depend on a specific version of the compiler.  Change it to whatever is convenient.

[2017-11-24 23:53] dckc commented on #57
Fixed by #60

[2017-11-24 23:53] #57 closed

[2017-11-24 23:54] dckc commented on #55
Fixed in #60

[2017-11-24 23:54] #55 closed

[2017-11-27 23:03] dckc opened #65 "squash merge policy / preference?"
eebbdd8 for #60 attributes a whole bunch of stuff to me that is actually from Kent's stuff that I rebased.

Do you guys want stuff squashed? I asked in #40 but didn't hear anything. If you want stuff squashed, I'll try to do that so that you don't have to do a squash merge. It would be nice to have this documented in a CONTRIBUTING.md.

(escalated from https://github.com/rchain/rchain/pull/60#issu

[2017-11-27 23:44] tymm commented on #65
I think we haven't officially decided yet on a policy. I'm in favor of squashing and changing the commit message to only relevant stuff (no `* Fixed typo` type content).
Any other opinions on that?

Something like a `CONTRIBUTING.md` is a good idea. I think @echatav is working on that?

[2017-11-27 23:55] echatav commented on #65
Wasn't particularly but I could add that; what I had suggested was per module owners but that was rejected. What were you thinking should be in `CONTRIBUTING.md` and should there be 1 per subproject or just 1 for all of the `rchain` project?

[2017-11-28 00:11] tymm commented on #65
I was thinking about one for the `rchain` project where we describe how to submit pull requests and so on.

[2017-11-28 00:19] echatav commented on #65
I will add one to my in progress branch and we can fix it up to match what you're thinking.

[2017-11-28 00:37] dckc commented on #65
See [Setting guidelines for repository contributors](https://help.github.com/articles/setting-guidelines-for-repository-contributors/).

[2017-11-28 00:40] dckc commented on #65
oh... and a link to the scala style guide in JIRA. I can't find it just now.

[2017-11-28 23:28] echatav commented on #65
For now I put links to relevant JIRA documentation in the `CONTRIBUTING.md`. This has been merged into `master` and there's an open PR for `dev`.

[2017-12-15 16:28] MParlikar commented on #56
Fixed.  See recent builds.  https://travis-ci.org/rchain/rchain/jobs/316683519

[2017-12-15 16:52] #56 closed

[2017-12-19 17:51] MParlikar commented on #65
Everyone, can we leave squashed merges on for now, and agree that we won't re-base off of others un-approved PR's?  I'd like to close this issue.  Also, in Contributing.MD, do we have a link to create Jira issues?  https://rchain.atlassian.net/secure/CreateIssue!default.jspa

[2017-12-20 02:51] elwaheed commented on #65
Yas

[2017-12-20 13:29] dckc commented on #65
"won't re-base off of others un-approved PR's" is effectively a policy against helping someone finish a feature... Or in general, against more than one person contributing to a PR. That seems counterproductive, to me.

[2017-12-20 16:45] MParlikar commented on #65
I don't see how it is a policy against helping someone finish a feature.  It is a policy against having more than 1 person working on a single PR. I don't see the benefit of making our merges to dev and master significantly more noisy to support this use case (which at the moment,  is more the exception than the rule).

[2017-12-20 18:24] dckc commented on #65
Kent started a travis CI branch. I picked up where he left off. A "won't re-base off of others un-approved PR's" policy says I should not have done that. That is: that I should not have helped him finish that feature. Or that I should have finished the feature without re-using his work.

[2017-12-20 18:39] MParlikar commented on #65
You can work on the same branch. What you shouldn't do is re-base off of a PR.  The PR should be approved and merged first.  Then do a fresh get and make your changes.

[2017-12-21 03:18] dckc commented on #65
Maybe a picture helps.

![rchain-travis-work](https://user-images.githubusercontent.com/150986/34238515-a87d9652-e5c7-11e7-8edc-0df56bb73703.png)

I started working on this stuff around Nov 20. At that point, Kent's https://github.com/rchain/rchain/pull/52 was pending, with 21be575 as its head, branched from dev as of Nov 8. It wasn't finished. Kent asked me to finish it.

I got something working

[2017-12-21 03:38] dckc commented on #65
I'm reviewing recent work to see what the project norms are. Other merges don't seem to get squashed; even minor formatting tweaks like a91afe4 and 374cdcd in #98.

[2017-12-21 06:52] nashef commented on #65
Ok, executive decision time.

First, squashed commits bother me for two reasons. They eliminate part of the history and they encourage people to write low quality commit messages when working locally. Both of those are suboptimal behaviors. ***We're not going to squash commits for now.*** If you want to argue for squashing, then come up with a good reason why it's better and how we should use it.

[2017-12-24 15:07] dckc commented on #65
will do, @nashef ; I'm mostly in holiday mode now, but I expect to get to it in due course.

[2018-01-05 19:11] nashef commented on #65
Can we make this happen now?

[2018-01-05 19:46] MParlikar commented on #65
@pyrocto please disable squash merges.

[2018-01-05 21:58] nashef commented on #65
Is it something that can be disabled? I get a choice every time I do a PR.

[2018-01-05 22:24] pyrocto commented on #65
Done.

[2018-01-15 19:04] nashef commented on #65
LGTM

[2018-01-15 19:04] #65 closed

[2018-01-15 22:54] dckc opened #161 "rosette deb package mixes dev depends with install depends?"
I had trouble installing the deb package the other day. Does it really depend on all these at runtime?

[code]

[2018-01-15 23:15] dckc opened #162 "ostream-new is available by default? (rholangweb security issue)"
The `log_time.rho` example includes `ostream-new("test.txt")`. In the context of the web front end, this actually creates new files.

Where should this be addressed? In rosette? Or somehow in the deployment of the web front end?

cc @MParlikar

[2018-01-15 23:53] dckc commented on #161
fixed in 663c35c

[2018-01-15 23:53] #161 closed

[2018-01-15 23:54] MParlikar commented on #162
[RHOL-76](https://rchain.atlassian.net/browse/RHOL-76)  has been created.  It is preferable that the Web front end address the cleanup of files if possible.

[2018-01-16 03:37] AbnerZheng opened #165 ""n-1" is parsed as QVar rather than QMinus rule."
If you type "n - 1" ( with space before or behind '-'), then you will get the right rule `QMinus` applyed. So there is something wrong with  rule  Var.
I wander if there any need for a variable name such as "xxx-xxx" being valid.

[2018-01-16 17:07] MParlikar commented on #165
@guardbotmk3 please weigh in.  If this is an issue, we will file a Jira issue.

[2018-01-16 19:59] nashef commented on #165
In lisps, `foo-bar` is a valid identifier, but `x - 3` is not a valid expression. In lisp, you write `(- x 3)` and there is no ambiguity. Please choose one or the other, but don't try to mix both.

[2018-01-17 17:04] echatav commented on #165
resolved by #170

[2018-01-17 17:04] #165 closed

[2018-01-20 07:59] dckc commented on #162
There's also [RHOL-78](https://rchain.atlassian.net/browse/RHOL-78). Let's track things there.

[2018-01-20 07:59] #162 closed

[2018-02-13 16:41] raja-rizki opened #270 "Hello sir !!!"
I want to ask sir, if in this project provide the translation file, I want to participate, thanks

[2018-02-14 04:30] kirkwood commented on #270
We are interested in having translations of documents like the one you prepared. Have you read through the documentation for contributors?
 * [Members/CONTRIBUTING.md](https://github.com/rchain/Members/blob/6824f4733df4381f665852109c9f8aece9167f96/CONTRIBUTING.md) (for most contributions)
 * [rchain/CONTRIBUTING.md](https://github.com/rchain/rchain/blob/master/CONTRIBUTING.md) (specific to more te

[2018-02-14 04:37] raja-rizki commented on #270
No, thank you :)

[2018-02-14 04:37] #270 closed

[2018-04-03 10:45] christophsturm opened #529 "master does not build"
I tried `sbt test` which fails and also  `sbt clean bnfc:clean bnfc:generate compile docker` which is mentioned in the readme and also fails.

[2018-04-03 13:29] birchmd commented on #529
Could you be more specific about the errors you are encountering? The branch does build when all of the dependencies of the project have been met.

[2018-04-03 13:41] christophsturm commented on #529
oh sorry. I thought that its a general problem with the git repo but you seem to be right.
the line mentioned in the readme `sbt clean bnfc:clean bnfc:generate compile docker` seems to require a package called `bnfc` installed, and i don't see that requirement mentioned anywhere else in the readme.

and just `sbt test` does not work because the bnfc:generate step seems to generate required source

[2018-04-03 14:00] birchmd commented on #529
That's correct. `bnfc` is required by the `rholang` subproject. More details about it can be found in that subproject's readme file. But the upshot of it is that you need to install `bnfc` from source because we need a more recent version than what is available in package managers.

[2018-04-03 15:14] MParlikar commented on #529
In future - please file issues in our Jira instance at https://rchain.atlassian.net

[2018-04-03 15:14] #529 closed

[2018-04-14 23:08] Jake-Gillberg opened #580 "Free Names in LinkedList.rho?"
https://github.com/rchain/rchain/blob/c9032c1d3587ea2958553bbb965092a77bc984a9/rholang/examples/linking/v0.2/packages/LinkedList.rho#L23

Should `accumulatedValue` be `new`'d the line above?

[2018-04-14 23:10] Jake-Gillberg commented on #580
Oh jeez, this is in a contract. My bad

[2018-04-14 23:10] #580 closed

[2018-05-17 02:36] greggdourgarian opened #741 "The releases page has a dead link to a docker"
https://github.com/rchain/rchain/releases has a dead link associated with the text below under the Node.hello pre-release notes.

"Docker image may be found here."

[2018-05-18 16:55] KellyatPyrofex commented on #741
Thanks for the catch, @greggdourgarian! We will update the release page to remove the dead links. We recommend users pull the latest image of RNode with the command `docker pull rchain/rnode`. If you want to see previous images of earlier versions, they are shown at tagged versions on https://store.docker.com/community/images/rchain/rnode.

[2018-05-18 16:57] #741 closed

[2018-07-09 14:37] Duality-CDOO opened #1093 "Where are your Issues?"
Everyone has issues, where are yours?

[2018-07-09 14:46] ArturGajowy commented on #1093
Hi! They're at https://rchain.atlassian.net. HTH! :)

[2018-07-09 14:46] #1093 closed

[2020-06-19 07:06] tgrospic opened #2954 "Deploys in DAG storage can only be related to one block"
## Overview
Currently DAG storage have deploy index to store deploy signature to block hash map. For one deploy only one hash can be assigned but it's possible situation where the same deploy can exists in multiple blocks. This doesn't mean the block is valid in multiple blocks because it can be executed only as part of one block.

## Impact
Deploy index is used in Block API so for the same deploy

[2020-06-19 09:40] tgrospic opened #2956 "PoS rewards state contains negative values (main net)"
## Overview

Fix is in progress planned for Hard Fork 2:
- #3514

Current main net data for rewards and bonds saved in Proof Of Stake contract. Rewards are from PoS "committed" values transferred from pending map which is updated in each block.

The transfer is done on each epoch change or on slashing event. On main net epoch change did not happen yet so transfer must happen when one node is slash

[2020-06-19 13:44] tgrospic opened #2957 "Optimize loading of partial block data from BlockStore"
## Overview
Block store _contains_ operation unnecessary loads the whole block just to check if exists in the store. Because block store uses LMDB database to store file offsets, this check can be optimized to just check existence of the offset.

Similar situation is with `LastFinalizedHeightConstraintChecker` which loads the whole block just to read the block number. This can be optimized to read

[2020-06-19 15:13] zsluedem commented on #2956
I checked this deploy in test net. But I don't see rewards like that.

| Validator               | Stake           | Rewards
|-------------------------|-----------------|-------------------
| 0466fe01872364f0f26be... | 10000032 | 457599852
|0468253959709c06610a... | 10000004 | 457598341
|04953bfb7421d530712c... | 10000002 | 457598256
|04bcca4904285db7585e... | 10000008 | 457598504
|04abd47e88392bc

[2020-06-21 13:56] tgrospic opened #2961 "CI workflow - create release with artifacts"
## Overview
In CI workflow, publishing a new release with artifacts is currently not working.

We want to automatically generate (draft) release or update existing if matches by the tag name. Artifacts should be attached and message body should be untouched.

[2020-06-21 18:45] tgrospic opened #2963 "LMDB store sometimes block in execution"
Bug is reproducible with this test when number of validators are more than 19 (?).
https://github.com/rchain/rchain/blob/8fb7bc466ea/casper/src/test/scala/coop/rchain/casper/batch2/ValidateTest.scala#L391

Problem is showing is LMDB _commit_ is called with suspended execution (Sync.delay).
https://github.com/rchain/rchain/blob/98cbac41a0202840011d2d4977260029250fea78/casper/src/main/scala/coop/rch

[2020-06-22 08:16] tgrospic commented on #2956
@zsluedem is this with slashing block?

[2020-06-22 12:51] #2963 closed, assigned to tgrospic

[2020-06-22 14:26] #2961 closed, assigned to tgrospic

[2020-06-22 16:48] tgrospic opened #2966 "Reduce network errors in CI execution (use cache)"
## Overview
CI sometimes executes with network failure which is outside of our control.
E.g. this error happened when Docker image is downloaded from temporary storage shared by multiple jobs.
https://github.com/rchain/rchain/actions/runs/143824717

### Improvement
This can be improved by using _cache_ to store intermediate data between jobs.

The key can be part of the context unique for one work

[2020-06-23 16:09] jimscarver opened #2968 "REV transfer apparently succeeds but is not done on testnet."
### What did you expect to see?
increased balance on receiving account and decrease on the sending account
### What did you see instead?
no change in account balances.
### Steps to reproduce the bug

![image](https://user-images.githubusercontent.com/3037201/85427324-98dbc080-b549-11ea-9451-0dab831e971f.png)

"\n  new rl(`rho:registry:lookup`), RevVaultCh in {\n    rl!(`rho:rchain:revVault`, *RevV

[2020-06-23 16:21] jimscarver commented on #2968
will:Today at 12:12 PM
Sorry. I found the reason. The propose script in testnet is only proposing in node0 because there is some timeout on node1,2,4 which would exclude the nodes in the propose script in testnet. I enlarge the timeout param same as mainnet now.
Now every node is proposing a block in turn.
You can not get the transfer result is possible that only node0 was proposing block and the

[2020-06-23 16:21] #2968 closed, assigned to nobody

[2020-06-25 02:30] zsluedem commented on #2956
nope

[2020-06-25 02:31] zsluedem commented on #2956
no. Maybe after https://github.com/rchain/rchain/pull/2967 is merged, we can find out which block mess up with that.

[2020-06-26 19:38] tgrospic opened #2970 "Reorganize TransportLayer, CommUtil, BlockStore helpers"
## Overview
Idea is to have only basic operations on traits. Operations that can be defined by the base should be put in extension methods (syntax).
CommUtil can be refactored in this way and extensions can be defined on TransportLayer instance (+ config).

[2020-06-28 09:32] nzpr opened #2971 "Redesign Casper interface"
We need to rethink Casper interface.
As an option - only estimator is casper operation and everything else is about the DAG state, which should be parameter to casper.

[2020-06-28 09:49] nzpr opened #2972 "Rewrite direct value extraction methods"
We should avoid directly extract values, e.g. with `BlockStore[F].get(hash)`
If block must be in the store some more descriptive error should be thrown.
In these cases we can define unsafe helper like the lookup on DAG state.

https://github.com/rchain/rchain/blob/8fb7bc466ea9a7b516133da40b85da95d11595bb/block-storage/src/main/scala/coop/rchain/blockstorage/dag/BlockDagRepresentationSyntax.scala#L

[2020-06-28 13:46] #2957 closed, assigned to tgrospic

[2020-06-28 15:34] zsluedem opened #2974 "Investigate a good way to generate api document."
### If this relates to existing RChain documentation, please provide the complete, specific URL and location in the page
No.

### Please describe the problem including, missing, unclear or incorrect documentation
Currently, we have very poor API documentations which would confuse normal developers. We need to investigate ways to

### Please provide the improvement suggestion, including links to an

[2020-06-29 12:58] nzpr commented on #2974
OpenAPI is for RESTful only. There are ways to convert gRPC to OpenAPI, I tried to do this here https://rchain-community.readme.io/reference#deployservice. But it's not very good looking. In general documenting GRPC interfaces is not very handy. It's supposed that developer just use generated code as an API reference I believe.

But indeed, we need good API reference.

[2020-06-29 13:11] nzpr opened #2976 "Protection from DOS attacks for validator nodes."
## Overview

Investigate protection from DOS attacks.
Should this be inside node software? Are there complete solutions for gRPC/HTTP endpoints?

### Impact

We need to put a shield in front of network layer before CasperPacketHandler.

### Design

First we should figure out best practices used in other blockchains to protect validators.

[2020-06-29 13:17] tgrospic opened #2977 "Fix node exit on shutdown"
# Overview
Exit on shutdown of the node can be blocked by LMDB key-value store. The only option is then to KILL the process.

[2020-06-29 13:46] tgrospic opened #2979 "Connection idle timeout is not respected for HTTP connections"
### What did you expect to see?
HTTP connection should timeout after `max-connection-idle` time set in config file or as CLI argument.

### What did you see instead?
Configuration parameter `max-connection-idle` is not respected for HTTP connection. Whatever is set, connection will break after 30 seconds.

### Steps to reproduce the bug
Push many deploys to a node, enough that proposing a block wi

[2020-06-29 14:12] zsluedem commented on #2974
@nzpr https://rchain-community.readme.io/reference#deployservice This looks good. I just found out.

[2020-06-29 17:01] tgrospic commented on #2974
We have protobuf definition files so from that client code can be generated. This is also exposed with gRPC reflection as API schema. https://github.com/rchain/rchain/pull/2698

What we need is similar thing for Web API. OpenAPI can provide this functionality. So the question is how to generate this specification from Scala code.

We are using http4s lib to define HTTP routes which is the main par

[2020-06-29 18:59] #2977 closed, assigned to nobody

[2020-06-30 12:49] #2970 closed, assigned to tgrospic

[2020-06-30 14:00] nzpr opened #2980 "New block retrieval procedure + preparing for LFS"
We need
1. Redesign catch up logic so it allows catch up on long chains without consuming lots of memory
- Introduce BlockRetriever trait that should hold all logic related to serving Casper with blocks it needs.
- Remove related logic from CommUtils
- Make Casper buffer persistent to not lose catch up state on restart.

2. Make basic block validation that we can do without Casper, in message hand

[2020-07-01 02:53] zsluedem opened #2981 "make reporting api replay system deploys"
## Overview
Currently the reporting api is only replaying the user deploy but not the system deploy(closeBlock or slashing).

Sometime we want to replay the system deploy to get debug infos.

We also need documentation on reporting api also.

### Impact
No big impact on the core protocol
It would increase the disk storage on reporting cache.

### Dependencies
No

### Steps to implement the solutio

[2020-07-01 10:49] nzpr opened #2982 "Rewrite legacy tests related to block retrieval"
Rewrite tests disabled with this commit <https://github.com/rchain/rchain/pull/2943/commits/55b5d914516da14a666cf95d53067f822ef13161>

[2020-07-01 11:34] nzpr opened #2983 "Support on-chain configuration storage"
### Impact
This will eliminate chance to be slashed due to node misconfiguration

### Dependencies
Requires
1. Implementing rholang contracts serving as configuration storage
2. Changes to [RuntimeManager](https://github.com/rchain/rchain/blob/dev/casper/src/main/scala/coop/rchain/casper/util/rholang/RuntimeManager.scala) . Most probably big refactor is needed
3. When some new block meets LastFina

[2020-07-01 12:26] tgrospic commented on #2983
Third requirement can be simplified. Data of chain necessary to create/add a block is from _base_ parent (merged parents). This is written as _preStateHash_ in the block and it's starting state for a block.

Basically we are using blockchain as our local database but we have ability (with writable data) to create a deploy with changed configuration (execution) and replicate to all nodes in the sam

[2020-07-03 10:02] nzpr commented on #2983
@tgrospic but number of parents itself depends on shard-wide parameter `max-number-of-parents`, so we need to have it before picking parents.

[2020-07-03 11:32] tgrospic commented on #2983
Default parameters will be supplied for the block zero (without parents) with empty state. In the same way as bonds map and wallets. After that each block has parent state as the input.

[2020-07-03 11:36] nzpr commented on #2983
So basically we get shard configuration from the state of main parent? Makes sense.

[2020-07-12 19:24] dckc commented on #2974
Has https://github.com/rchain/rchain/tree/dev/docs/rnode-api been completely forgotten? it has an index.md generated from the .proto files and a Makefile that shows how it's done.

Much of the stuff in the .proto files lacks docstrings, but I put some effort into documenting `DeployService`:
https://github.com/rchain/rchain/blob/dev/docs/rnode-api/index.md#deployservice

[2020-07-12 19:37] dckc commented on #2974
Since I [first worked with scala](https://www.madmode.com/2010/advogato_entry0071.html) in 2010, it has bugged me that doctest is not a community norm; that is: that effort spent on tests isn't easily re-used in generating documentation. It's a norm in the python and rust worlds (and it's supported in js and go and haskell, IIRC) but it's nowhere in the scala world.

[WebApiRoutesTest.scala](https

[2020-07-13 08:37] zsluedem opened #2992 "Implement api to get data from rspace"
## Overview
Implement api to get data from rspace
We already got [listeningDataAtName and listeningContinuationAtName](https://github.com/rchain/rchain/blob/c76bd6668cf5f6ddd3acdc44f26fcb08edba08ee/models/src/main/protobuf/DeployServiceV1.proto#L42-L45) although I think they are not very good designed api which can be performance cost.
 We can implement something like [explore_deploy](https://gith

[2020-07-14 03:38] zsluedem commented on #2992
pr for this issue https://github.com/rchain/rchain/pull/2993

[2020-07-14 11:38] tgrospic commented on #2974
@dckc Nice, I was not aware of your generator from proto to Markdown. We should include it as part of other generators for API and documentation.

The plan is that we move towards unified definition for API with all necessary information to generate different protocols (runtime and types) with documentation and examples.

Unfortunately _WebApiRoutesTest_ is not very useful, it's basically tests _c

[2020-07-14 15:38] #2980 closed, assigned to nobody

[2020-07-15 13:37] tgrospic opened #2994 "State management in RNode"
## Overview

RNode uses multiple databases to store different part of the data.

- **Block Store** (/blocktore) contains blocks stored in append-only file with index map stored in LMDB database.
- **Dag Storage** (/dagstorage) contains partial info about blocks with DAG representation and related data necessary for Casper.
- **RSpace** (/rspace/casper/v2) contains 3 LMDB databases to store tuple s

[2020-07-17 18:35] nzpr opened #2997 "Policy for rejecting deploys"
## Overview
More sophisticated protection from DoS attacks is needed.

### Prerequisites
Fast access to REV balance at the moment of deploy is required

### Restrictions applied on incoming deploys
Node should reject deploy right away and tell the user the reason in the following cases:

1.  [Precharge](https://github.com/rchain/rchain/wiki/Cost-accounting-in-RChain) amount is more than the user h

[2020-07-18 15:45] tgrospic opened #2999 "Tuple space mismatch"
TODO

[2020-07-19 16:23] tgrospic commented on #2976
Can this issue be merged with #2997?

[2020-07-19 17:27] tgrospic opened #3001 "Refactoring and cleanup"
## Overview
This issue is an epic to collect a list of proposals for code refactoring, file rearrangement or cleanups with the purpose to unify the design and strategy in organization the source code in the project.

### Restriction to type of changes
The important restriction is that changes should not impact functionality. Exceptions must be well justified.

### How to use this issue
Proposals w

[2020-07-20 05:56] nzpr commented on #2976
@tgrospic I'm not sure - this looks like a broader topic. 2997 should provide some data for this solution. But DoS is not just about spamming deploys, there might be another attack vectors.

[2020-07-20 09:09] zsluedem commented on #2976
I think this is a too broad topic which is not rchain trying to solve. I think we can use exist tools or something to solve it.

[2020-07-20 09:57] tgrospic commented on #2976
I found some older resources on Jira related to this topic.
https://rchain.atlassian.net/wiki/spaces/CORE/pages/353468419/Peer-to-Peer+P2P+Network+Testing

Exploring what tools can be used, as @zsluedem mentioned, can be the first step to find good solutions and to create tests for these kind of attacks.

[2020-07-20 12:30] zsluedem commented on #2976
I rethink this question a little bit. DDOS is a very wide topic in every internet service.

As far as I know, DDOS attacks can apply to different layers.

1. Network layer(TCP flood etc.)
2. Protocol layer(GRPC, HTTP)
3. Application layer(Rnode here)

#2997 is more like an application layer attack which should be addressed in rnode's code.
The another two layers (network layer and Protocol layer),

[2020-07-21 06:02] zsluedem commented on #2956
We know what is the problem now. It is a Long overflow problem.

it happened in https://github.com/rchain/rchain/blob/dev/casper/src/main/resources/PoS.rhox#L774.

[2020-07-21 09:08] nzpr opened #3003 "Node stops adding blocks"
In rare cases in while catching up node can stuck adding blocks and requires restart to continue.

[2020-07-21 09:50] #3003 closed, assigned to nobody

[2020-07-21 10:35] nzpr opened #3005 "Error with gRPC streaming: cancelled before receiving half close"
gRPC server when node is under load might refuse to process streamed messages (blocks)
https://github.com/rchain/rchain/blob/2e870e1fb196fff4775b249b201af29346fdca54/comm/src/main/scala/coop/rchain/comm/transport/GrpcTransportReceiver.scala#L77

with error
[code]
As per https://grpc.github.io/grpc/core/md_doc_core_transport_explainer.html
this means that server cancelled gRPC channel before client

[2020-07-22 02:37] zsluedem commented on #2974
https://github.com/http4s/rho found a good tool to generate swagger

[2020-07-22 21:54] gsj5 opened #3007 "rnode fails on java options starting with -X"
Adding `-Xlog:gc*` option to docker-compose startup fails with error "[rchain] Error: Unknown option 'X'" but `java  -Xlog:gc*` works as expected in latest rnode release, aka 0.9.25.1.

[2020-07-29 16:40] #2999 closed, assigned to nobody

[2020-07-29 19:52] #3005 closed, assigned to nobody

[2020-07-30 08:22] #2982 closed, assigned to nobody

[2020-07-30 08:23] nzpr commented on #3007
@gsj5 is this issue still relevant? Did `-J-Xlog:gc*`work?

[2020-08-01 09:45] nzpr opened #3008 "Node does not create random bonds file"
This piece of code should be adjusted, as `maybeBondsPath` is always set

https://github.com/rchain/rchain/blob/e2bbe2f5a28996916d23565b2d3a3bbaac9e7187/casper/src/main/scala/coop/rchain/casper/util/BondsParser.scala#L57-L70

[2020-08-01 18:22] gsj5 commented on #3007
Thanks!

[2020-08-01 18:22] #3007 closed, assigned to nzpr

[2020-08-01 18:34] 9rb opened #3009 "ensure latest secp256k1 library is used and working"
I updated the  https://github.com/rchain/secp256k1-java/pull/5 based on a dependabot alert. The PR was autogenerated by dependabot. I simply merged it. We need to update this library on the rchain project and make sure it works as intended. I'm  not sure however whether we are using the Java version or the native version library, which is a different repo under rchain org

### What did you expect

[2020-08-01 20:02] 9rb opened #3010 "Scala Steward response"
https://github.com/scala-steward-org/repos/pull/403

I tried to activate Scala Steward and this is what they say

"This repo was here before and had been removed in 8e599c8. Should it really be added again now?"  This was related request by Artur back in 2018 Nov to remove it "Remove rchain/rchain

Thx for the great tool! Unfortunately, because of specifics of our dev process, using it so far come

[2020-08-02 06:04] nzpr opened #3011 "Make per peer transport client queue"
All scarce resources that can be overflown (like message queue size) need to be allocated on per peer basis.

[2020-08-02 15:51] tgrospic commented on #3010
One thing seems resolved, commits are now signed https://github.com/rchain/rchain/pull/1880#issuecomment-440055748.

The second point seems like inconvenience if all lib updates are in one commit inside PR but I don't see it as a stopper.

[2020-08-02 17:44] 9rb commented on #3010
Scala Steward PR is merged. We should expect to get some PRs from there

[2020-08-02 17:44] #3010 closed, assigned to tgrospic

[2020-08-03 14:00] #3011 closed, assigned to nobody

[2020-08-06 06:30] nzpr opened #3054 "Node traverses the whole DAG on each replay"
For some reason node traverses the whole DAG here on each replay https://github.com/rchain/rchain/blob/3e4ef77fdde277db4bb1397872283dec6f6af1ad/casper/src/main/scala/coop/rchain/casper/util/ProtoUtil.scala#L421-L442, it takes about 20-30 sec on testnet (300k blocks in a chain).

We should get rid of it because its
1. Slow
2. LFS assumes that we don't need and don't have that old blocks, so need to

[2020-08-06 14:48] nzpr opened #3056 "Use one gRPC message consume queue per peer"
## Overview
Enable per peer server queue as it was has been done with client channel <https://github.com/rchain/rchain/pull/3006>

### Impact
This class should be adjusted in a fashion similar to PR above https://github.com/rchain/rchain/blob/7a34cd358d799448a39ecd52168914e999bdc587/comm/src/main/scala/coop/rchain/comm/transport/GrpcTransportServer.scala

[2020-08-11 06:49] nzpr opened #3058 "SafetyOracle does not work properly with bonding"
## Overview
We ave two questionable thing with SafetyOracle
1) It uses main parent bonds map -> suggestion is to use bonds map of the block itself (per postStateHash of block). Might require investigating if we have access to that data/
2) It takes into account all records from the bonds map -> it has to use only active validators

### Impact
This method is a subject <https://github.com/rchain/rch

[2020-08-14 16:28] tgrospic opened #3066 "Use post-state hash as default for exploratory deploy API method"
### Overview
Default state hash for _exploratory deploy_ is set to pre-state hash instead of post-state hash for latest finalized block.

[2020-08-15 03:57] #3054 closed, assigned to nobody

[2020-08-15 05:49] #3066 closed, assigned to tgrospic

[2020-08-15 16:54] nzpr opened #3072 "Monitoring for API calls"
## Overview
We need a way to monitor API calls, best way to have preliminary data is to stream to grafana events.

### Design
TODO, but at first glance looks like a separate influxdb event for each API call should be created.

[2020-08-17 15:00] tgrospic opened #3074 "Validator sequence number is not connected to private key"
### What did you expect to see?
Using different private key on existing RNode instance, used with other private key, does not change or track sequence number for that validator (private key).
When a new validator is bonded and its private key is used on existing node it should not use the same sequence number but to track it by private key.

### What did you see instead?
After bonding new validato

[2020-08-18 08:32] tgrospic commented on #2979
With response header timeout the same as idle timeout we get this warning.
`org.http4s.server.blaze.BlazeServerBuilder - responseHeaderTimeout (1 hour) is >= idleTimeout (1 hour). It is recommended to configure responseHeaderTimeout < idleTimeout, otherwise timeout responses won't be delivered to clients.`

Reopening this issue to investigate what is the best way for timeout configuration.

[2020-08-18 08:41] tgrospic opened #3075 "RNode memory configuration"
## Overview
JVM options for memory management can influence how RNode behave in respect to performance and stability. The purpose of this issue is document different configurations, compare and find optimal values.
It should also be useful for RNode operators when they are running node on their machines.

[2020-08-18 13:20] zsluedem opened #3077 "config for last finalized state"
## Overview
add config for last finalized state

1. config to start a node from genesis or from last finalized state
2. config if a node can response with last finalized state request
3. make the node request the last finalized state only from bootstrap right now

[2020-08-19 07:29] tgrospic opened #3081 "Setup backup node for main net state"
## Overview
To get quick access to the latest state of main net we need to setup observer node which should be stopped in intervals and its state should be copied on some location accessible for speed download.

The process should be to stop the node, copy the state and start the node again. We can create as many copies as we have available disk space. After restart, node should have enough time t

[2020-08-19 14:53] 9rb opened #3083 "Review and correct the formula for REV in circulation"
Need to verify that the formula is correctly subtracting the staked REV for the period of time it is staked.

### What did you expect to see?

### What did you see instead?

### Steps to reproduce the bug

### What version of RNode are you using?

### What is your environment?

[2020-08-22 07:59] nzpr opened #3093 "Maintain cache of on-chain data."
## Overview
To be able to execute various methods in scala code we need to have on-chain data. E.g. to get fork-choice tips, we need list of active validators, other place when on-chain data is extracted is block creation and block replay.
This data is related to particular state (e.g. we have number of blocks that we merge -> this result in some state). So, to have quick access to on-chain data,

[2020-08-22 08:10] nzpr opened #3094 "Fork-choice tip calculation grows linearly"
After epoch change we have latest message from non active validators participating in calculation of FCT. This leads to increasing of FCT calculation time, because DAG height on which this calculation is being performed grows as network proceeds.

This code slows down
https://github.com/rchain/rchain/blob/27787e1f47392e1998135db2316c2c32651abf4d/casper/src/main/scala/coop/rchain/casper/Estimator.s

[2020-08-22 08:33] nzpr opened #3096 "Enable parallel execution of non-conflicting deploys"
## Overview
This is the first step for block merge.
It includes
- refactoring of RuntimeManager so it acts as a Runtime producer that node can use to execute some rholang code.
- making cost-accounting work with such Runtimes.

[2020-08-24 07:38] tgrospic opened #3097 "Additional tests for new options for LFS"
## Overview
With new options to run the node for LFS (trim state, disable exporter) we need additional tests to cover different configurations.

### Impact
See PR #3079 and the changes to Engine instances.

### Design
Add additional tests with different combination of config parameters and assert that handling is correct.

[2020-08-24 20:23] tgrospic opened #3098 "Testing of LFS"
## Overview

This issue is to record several rounds of testing of **Last Finalized State** pre release versions. Tests are more performance oriented and some of the bug fixes and optimitations are done between each test setup.

Results are starting from the last setup. Shows how speed is increased with stronger machine. This is due to additonal computation needed for verification of the Rholang st

[2020-08-26 14:01] #3077 closed, assigned to nobody

[2020-08-27 20:19] 9rb commented on #3094
https://java2blog.com/lca-k-ary-tree-osqrtheight/

[2020-08-28 13:30] nzpr opened #3102 "Rewrite Estimator"
Revert https://github.com/rchain/rchain/pull/3100 and rewrite Estimator code to make it clear.

[2020-08-29 07:07] nzpr opened #3105 "Node requests block behind approved block"
With introducing of Approved State, after engine transition to Running, node still might receive old blocks.
According to logic of Running, it should drop these blocks as not of interest. But when such block is already in blockstore - it will be sent to Casper. And dependencies will be requested. And this might be the case because Initializing engine download old blocks that accompanying Approved

[2020-08-29 13:51] dckc opened #3108 "example contract confuses REV and 10^-8REV"
The "amount" is in 10^-8 REV but the message says REV.

https://github.com/rchain/rchain/blob/2677fcaf57edd2538fdc330400de569bdd1a76cf/rholang/examples/vault_demo/3.transfer_funds.rho#L32

[2020-08-30 16:34] #3094 closed, assigned to nzpr

[2020-08-31 00:39] 9rb opened #3110 "Please check that README.md is still accurate"
### If this relates to existing RChain documentation, please provide the complete, specific URL and location in the page
https://github.com/rchain/rchain/blob/dev/README.md  is a couple of months old now. Need to check to make sure that the parameters (e.g. memory settings) and process listed there is still accurate

### Please describe the problem including, missing, unclear or incorrect document

[2020-09-08 06:15] zsluedem opened #3116 "debug infor for history store"
## Overview
The node would encounter bug like below.
[code]

We don't know the condition to reproduce the situation. Current solution is to put more debug info into the history store when this bug happened.

[2020-09-08 07:08] #3105 closed, assigned to nobody

[2020-09-08 07:12] nzpr opened #3118 "Node cannot request Approved block"
When debugging LFS, sometimes it can be seen that node cannot receive approved block, thought it requested it.
In addition, there were issues with genesis ceremony tests failing randomly, when some genesis validators does not receive approved block.

With hight degree of confidence this is the fix for that.
https://github.com/rchain/rchain/pull/3111/commits/872c6eb505bf1883727330dfdf8e568622d0a3ed

[2020-09-08 13:24] nzpr opened #3119 "Justification Regression validation might be broken with LFS"
Current logic of justification regression check has flaw:

Hope graph and `dot` notation or graph below helps understanding the issue.
[code]
<img width="455" alt="Screenshot 2020-09-08 at 16 18 28" src="https://user-images.githubusercontent.com/1746367/92481379-f1d4ff80-f1ee-11ea-8c86-c55f7c7236f1.png">
Let assume validator A (`vA`) has been bonded in block `bA`, but does not produce any blocks.

[2020-09-10 07:22] zsluedem opened #3122 "lmdb KeyValueTyped error"
The node failed on catching up process with the exception below.
[code]

After the exception , restart the node would show the exception below every time.
[code]

logs file below
[rnode.log.tar.gz](https://github.com/rchain/rchain/files/5199802/rnode.log.tar.gz)

the logs below didn't show in the `rnode.log` but in the `docker logs`
[logs-not-shows-in-rnode.log-but-docker-logs.log](https://github.

[2020-09-12 01:15] jimscarver opened #3125 "E.join is not a function getting value off chain"
### What did you expect to see?
value of data stored on testnet at `rho:id:ar17ohqq83kx7a16nbfquwu9gxidduk9hstgbs9gkbj63o8gqyh1ye`
### What did you see instead?
![image](https://user-images.githubusercontent.com/3037201/92983682-fb6e9980-f472-11ea-8f7e-ca028ead6e1b.png)
### Steps to reproduce the bug
deploy
[code]

### What version of RNode are you using?
RChain Node 0.9.25.4 (41a42a330143e2451097

[2020-09-12 03:29] zsluedem opened #3126 "why rchain encoding protobuf, scala codec in different layer"
Currently, rnode is using two kinds of encoding.

1. protobuf
2. scala codec

In the blockstorage and network part, protobuf is in use while in the rspace code storage, we use scala codec for data storage.

I don't know why rnode used scala codec for rspace storage since we already got https://github.com/rchain/rchain/blob/dev/models/src/main/protobuf/RhoTypes.proto proto definition for these data

[2020-09-12 03:47] zsluedem opened #3127 "What is the performance lost in lmdb proxy_safe compared to proxy_optimal?"
Related documents:
https://github.com/lmdbjava/lmdbjava/wiki/Buffers#bytebuffer

java lmdb provided two different buffer proxy for `DirectBuffer` in jvm.

Currently rnode using `PROXY_OPTIMAL` which is not safe in jvm(jvm doesn't encourage the opertion does by `PROXY_OPTIMAL`). THere is another option for bufferproxy which is `PROXY_SAFE`.

What is the performance differences between these two buf

[2020-09-12 03:52] zsluedem commented on #3127
First try on running the bench mark with https://github.com/rchain/rchain/blob/41a42a330143e2451097cefa36b9b733b989b4f4/rspace-bench/src/test/scala/coop/rchain/lmdb/LMDBOpsBench.scala here.

Steps to run:
[code]

Result:
[code]

[2020-09-12 04:43] zsluedem commented on #3127
Another run with `PROXY_SAFE`

[code]

[2020-09-13 12:12] jimscarver commented on #3125
The expected value was:
[code]

[2020-09-13 22:34] tgrospic commented on #3125
@jimscarver thanks for reporting this error. It's a situation when only one value is returned and the code was expecting to be an array.

I fixed the bug and result is printed to the log. Inline display after the button is not meant to be for large output but only for primitive types so I think it's OK to just display generic string for objects _[object Object]_.

![image](https://user-images.gith

[2020-09-14 02:17] dckc commented on #3125
I suggest transferring this issue to the https://github.com/tgrospic/rnode-client-js repo

[2020-09-14 05:27] zsluedem commented on #3122
It is possible that the data file is corrupted. Leave this issue open for now for more observation.

[2020-09-15 22:10] dckc commented on #2974
I got started on a swagger definition:

https://github.com/rchain-community/liquid-democracy/blob/dev-tools/rclient/rnode.yaml 71d2f9d https://github.com/rholang/rholang.github.io/pull/20

try it out in https://petstore.swagger.io/

I went over it with @jimscarver and we made a [recording](https://www.youtube.com/watch?v=IdPKQ76NP_w)

[2020-09-15 22:17] dckc commented on #2974
@zsluedem #3128 looks very interesting... can it include example inputs and outputs? Those are very important. Prose documentation as well.

I wonder if it's better to keep the api definition in https://github.com/rchain/rchain/tree/dev/docs/ (perhaps /docs/rnode-api ) and _test_ that it's consistent with the scala code rather than generating it with scala code. It seems important to be able ship

[2020-09-16 01:26] zsluedem commented on #2974
[swagger.zip](https://github.com/rchain/rchain/files/5229075/swagger.zip)

This is what #3128 generate on the `swagger.json`. We can use that directly now. The pr still needs some work on error handling.

[2020-09-16 08:16] zsluedem opened #3131 "trim state integration tests"
Integration tests for trim state

1. start a bootstrap node with a non-empty last finalized state
2. start a trim state node connect to the bootstrap node
3. trim state node receive the trim state
4. bootstrap deploy new blocks and trim state node can play this block normally and adds it

[2020-09-20 09:42] #3056 closed, assigned to nobody

[2020-09-21 02:08] zsluedem opened #3139 "Block merge conflicts detectors"
## Overview
In order to merge two blocks, we need a detector to detect comm-event conflicts between the comm events in different blocks in different branches.

We got some related works before ->
1. https://github.com/rchain/rchain/blob/c07671c4543bd16d2ae3258a1288425273e1a71b/casper/src/test/scala/coop/rchain/casper/batch1/MergeabilityRules.scala (original test for mergibilty rules)
2. https://gi

[2020-09-21 15:30] zsluedem commented on #3139
https://github.com/rchain/rchip-proposals/issues/23

[2020-09-22 07:06] dckc commented on #2974
the RhoExpr stuff in that generated swagger.json looks wrong. We get back `{ ExprString: { data: "abc" }}`, not `{ type: "ExprString", data: "abc" }`

[2020-09-22 13:04] tgrospic opened #3142 "Upgrade Cats Effect library because of Deferred improvements"
## Overview
From Cats Effect version 2.2.0 release notes there should be _significant performance improvements_ for Deferred feature which we are extensively using in RChain project.

This is a good motivation for upgrade to new version on Cats Effects. Currently we are using version 2.0.0.
https://github.com/rchain/rchain/blob/44294ea/project/Dependencies.scala#L12

https://github.com/typelevel/c

[2020-09-22 14:06] 9rb commented on #3142
My initial experimentation with cats effect 2.2 required replacing MVar (deprecated) with MVar2. But there are probably additional things to take care of. Once my local environment is up, I'll identify and resolve those

[2020-09-22 20:27] tgrospic opened #3143 "RNode diagnostics / increase developer productivity"
## Overview

The goal of this issue is to define a strategy how to improve diagnostics output from RNode. Diagnostics can be standard text logging (log4j, Logstash), metrics/instrumentation (Kamon, Zipkin, Jaeger) but also stack trace in case of errors.

In RNode we already have most of the needed support and libraries. But there are some issues which can be improved.

### 1. Async stack trace :he

[2020-09-23 01:40] zsluedem commented on #3143
For collecting the diagnostics data and visualizing data, there are commercial support like [APM](https://kamon.io/apm/pricing/),  [dataDog](https://kamon.io/docs/latest/reporters/datadog/), [New Relic](https://kamon.io/docs/latest/reporters/newrelic/). They are supported by Kamon.
Currently what we had is an free open source plan.

As for visualizing data(grafana, zipkin),  it would be great that

[2020-09-23 02:58] zsluedem opened #3144 "RevVault does not carry transaction history after Last Finalized State"
## Overview
In the dev standup, @leithaus said @dckc told him that currently, rchain doesn't keep the transfer history for each rev vault in the tuplespace global state(cold state) which means with https://github.com/rchain/rchain/milestone/2 done if a node starts with a trimed state, the node doesn't contain the transfer histories for each vault.

That's apparently not what we want. We want to ge

[2020-09-23 03:10] zsluedem commented on #3072
https://github.com/rchain/rchain/issues/3143  related issue

[2020-09-23 03:24] dckc commented on #3144
please no don't look to ETH designs for this. Look to ERTP.
https://agoric.com/documentation/ertp/guide/

They just did a wonderful 2 hour "code with us" talk on it:
[Cosmos Code With Us \- Building a Composable DeFi Contract](https://www.youtube.com/watch?v=faxrecQgEio&feature=youtu.be)

That talk includes Zoe as well as ERTP; we don't need Zoe to fix the vault contract. Just ERTP. Note that we'r

[2020-09-23 03:27] dckc commented on #3144
a process note: why is this here rather than in https://github.com/rchain/rchip-proposals ?

Also: "New RevVault contract" doesn't really capture this issue. I suggest changing the title to something like "RevVault does not carry transaction history after Last Finalized State"

[2020-09-23 03:28] dckc commented on #3144
Oh... and ERTP wouldn't automatically result in a full transaction history on-chain. Why do we want that? What's wrong with indexing the blockchain like everyone else does?

[2020-09-23 03:53] #3116 closed, assigned to nobody

[2020-09-23 05:15] zsluedem commented on #3127
close it because the data is gotten and we decided to use `PROXY_SAFE`.https://github.com/rchain/rchain/pull/3117

[2020-09-23 05:15] #3127 closed, assigned to nobody

[2020-09-23 12:47] zsluedem commented on #3144
@dckc Thanks for your ideas. We don't have to follow eip totally here.I just want to raise some examples for us to develop better Vault api.

Do you have any references or docs on how other blockchain indexing their transfers history for me to learn?

Yeah. It should go into RCHIP.

[2020-09-23 14:11] dckc commented on #3144
I'm just talking about what infura, etherscan, etc. do. You implemented it for revdefine: https://github.com/zsluedem/transaction-server . I'm not sure what more you have to learn. I haven't studied how infura does it in detail. I assume they run an eth node, look over all the transactions and put them in a sql database or lmdb or whatever.

[2020-09-23 19:26] tgrospic commented on #3126
Yes, this is strange that tuple space is serialized with scodec. This includes types [Trie](https://github.com/rchain/rchain/blob/5f7f91e6257a46f056f55cfc97fb4cfb369f236c/rspace/src/main/scala/coop/rchain/rspace/history/History.scala#L45) for history store and [PersistedData](https://github.com/rchain/rchain/blob/8517e321c2884dff6c0ce5f72e6998876b98fcda/rspace/src/main/scala/coop/rchain/rspace/his

[2020-09-23 20:41] tgrospic commented on #3125
@jimscarver can you confirm this is now working as expected?

[2020-09-24 01:31] gsj5 opened #3146 "node14 network outage report"
Earlier today, there was a network outage on node14 server which stopped the mainnet network from progressing with proposing new blocks for 25 minutes.  Following is the preliminary report to document the events.

1. node14 doesn't appear to send any outbound TCP data as evident by lack of any logs in Kibana/logstash between following two entries.  There are no errors in the /var/log/syslog indica

[2020-09-24 02:25] gsj5 commented on #3146
Similar event on node14 occurred on Sept 22nd, however, during the outage period, rnode.log doesn't show any inbound block activity.
[code]

[2020-09-24 02:30] gsj5 commented on #3146
Documenting yet another example of the node14 outage without any inbound traffic.
[code]

[2020-09-24 12:57] zsluedem opened #3147 "Enhance rholang execution error message"
## Overview
when you deploy a contract like below
[code]
no matter how much phloLimit you put in the deploy, the node would always consume **all** the phlos because `blockData('rho:block:timestamp')` is not a valid system process.

The deployInfo in the block should be like below
[code]

Although the deploy is marked as `errored=true`, the node should provide better error info for the errored depl

[2020-09-25 02:42] zsluedem commented on #3139
In the current implementation, for `Join` operation, the node would consider any channel with joins that happened in two-planned-to-merge-blocks as conflicts. But with the current [test cases](https://github.com/rchain/rchain/blob/c07671c4543bd16d2ae3258a1288425273e1a71b/casper/src/test/scala/coop/rchain/casper/batch1/MergeabilityRules.scala#L436-L624) and [MergeableRules](https://docs.google.com/

[2020-09-26 14:52] nzpr commented on #3147
I think it is related, so mentioning here. @dckc reported that this deploy <https://gist.github.com/dckc/9e04e4604498eab72410a487b6d28b8d> ends up with this error `No value set for rho:rchain:REVAddress. This is a bug in the normalizer or on the path from it.`

[2020-09-28 03:33] zsluedem opened #3150 "New BlockMessage data structure"
## Overview

Below is how the current blockMessage structure looks like https://github.com/rchain/rchain/blob/cf6f2da2d1b8b30e953f60bff21cc5cde7cc49be/models/src/main/protobuf/CasperMessage.proto#L87-L99 .

Based on the [discussion](https://github.com/rchain/rchip-proposals/issues/23#issuecomment-697369252), currently the blockMessage data structure doesn't get the ability to describe whether the

[2020-09-28 03:39] zsluedem commented on #3150
BlockMessage also includes **ProcessedDeploy** data structure.

https://github.com/rchain/rchain/blob/cf6f2da2d1b8b30e953f60bff21cc5cde7cc49be/models/src/main/protobuf/CasperMessage.proto#L145-L151

Based on https://github.com/rchain/rchain/issues/3147, RChain might need to introduce `UserDeployError` in the `ProcessedDeployProto`

[2020-09-28 16:44] jimscarver opened #3151 "set stored on chain at uri cannot be retrieved./ Error: Multiple expressions given."
### What did you expect to see?
`(Set("1111tBR2JPWkpRmXXqsRU4aCK3rMcoBFgjEQpTJKED6VxYt7WuLi7","1111mEviz9tTWe8WAFSPhySkSwisQHSJyzVJEhoRCbMtMJ9qJonu","111125kxus7ZfRnR9a1bJHoVhqreBmwfw3vN8M1pnG9BfeXm3gTRcn","xx")`
### What did you see instead?
nothing or doing any operation on it deploy error or `Error: Multiple expressions given.`
### Steps to reproduce the bug

[code]
[code]
`Deploy error when ex

[2020-09-28 18:08] nzpr commented on #3151
I suspect this piece of code
<https://github.com/rchain/rchain/blob/09d9acc916e008dc93a7289202262fd5a4d9d41d/rholang/src/main/scala/coop/rchain/rholang/interpreter/Reduce.scala#L1123-L1142>, looks like it is used when you get value from map (so registry)
which uses `evalSingleExpr` throwing this error.

[2020-09-29 15:13] jimscarver opened #3153 "explore-deploy fails with Failed to fetch"
### What did you expect to see?
"registered"
### What did you see instead?
Failed to Fetch
### Steps to reproduce the bug

explore-deploy
new return ,//(`rho:rchain:deployId`),
  lookup(`rho:registry:lookup`)
in {
  new valueCh in {
    lookup!( `rho:id:1ri71weozwuoanef9zit5p7ooafkmkzhkwo6phgaourcknbmi6ke7t` , *valueCh) |
    for (@par <- valueCh) {
        match par {
            { "11112Ju55SSch

[2020-09-29 15:16] jimscarver commented on #3153
observer was down

[2020-09-29 15:16] #3153 closed, assigned to nobody

[2020-09-30 02:41] zsluedem commented on #3150
As for EventLog, the node is mixing `PrechargeSystemDeploy` and `RefundSystemDeploy`eventlogs  with `UserDeploy` eventlogs together in the `ProcessedDeploy`.->https://github.com/rchain/rchain/blob/dev/models/src/main/protobuf/CasperMessage.proto#L148

Maybe it makes more sense to serparate these three kinds of eventLogs which can help developer understand their own event logs.

[2020-09-30 08:44] nzpr commented on #3143
[code]

I'm not sure it worth it to try expose jaeger data in grafana. As Jaeger is still some tool for developers, to measure time spent in some parts of the code, which not necessary something meaningful to end user. And benefit of Jaeger is exactly how it is  exposing data as inlined spans, so you can have lots of spans and not be buried under gazillion of different metrics. And Jaeger UI ships

[2020-09-30 11:06] tgrospic commented on #3151
@jimscarver the problem here is not in the registry but in the use of `Set.union` method. It's accepting another `Set` instance and not the element itself.
To get correct return value it should be something like `return!((value.union(Set("xx"))))`.

[2020-09-30 11:52] jimscarver commented on #3151
Thanks. I thought I tested contains() also but it is working now. Sorry for the confusion.

[2020-09-30 11:52] #3151 closed, assigned to nobody

[2020-09-30 13:05] tgrospic commented on #3150
I agree, it makes sense to have separate log for user and system deploy for easier use.

[2020-09-30 15:10] 9rb opened #3155 "Separate Precharge+refund from user deploy and take funds even for rejected deploys, to improve network security"
## Overview
<Deploys that are rejected but do not incur cost to the user is a potential attack vector. By separating pre-charge and having the ability to keep funds for the work done by the network (even if that work is simply to determine that a deploy cannot move forward), we make sure that each deploy valid or not, incurs a cost to the user.  This reduces the possibility of 'too much free work

[2020-10-01 03:43] zsluedem commented on #3155
I am not sure if we should do this because

1. From the user perspective(deployer), the user might be painful to deploy something and the chain rejects the deploy and still take the money from the user.
2. From the validator perspective, the cost on reject deploy can help stop the abusing the computing resources in validators.

The point here is to if we should protect the users or protect the val

[2020-10-05 14:53] dckc commented on #2974
FYI, the swagger stuff is now live at https://developer.rchain.coop/rnode-api

https://github.com/rchain/developer.rchain.coop/pull/3

[2020-10-12 10:37] tgrospic opened #3170 "Update scalapb, grpc-netty and netty-tcnative"
## Overview
This issue is to clarify connection between `scalapb` (lib, plugin) with `netty` which is packaged with `netty-tcnative` and used in `grpc-netty`. It will also replace existing ticket opened on Jira.
https://rchain.atlassian.net/browse/RCHAIN-4075

### Current status of `scalapb`
We are using version 0.7.4 released from May, 2018 ([change log](https://github.com/scalapb/ScalaPB/blob/ma

[2020-10-13 15:41] #3142 closed, assigned to nobody

[2020-10-14 02:04] zsluedem commented on #3126
There are some codec is not consistent because https://github.com/rchain/rchain/blob/d270bd669e5d73f37340cc2fc427e3e97264c21a/shared/src/main/scala/coop/rchain/shared/Serialize.scala#L23-L62 the method `toCodec` would add variableSizeBytesLong in front of the bytes. So if somewhere in the codes did something like below

[code]

these things happened in our codes which make https://github.com/rchai

[2020-10-14 13:46] tgrospic opened #3173 "Transport layer cache redesign"
## Overview
Streaming packets in transport layer is currently implemented with file based cache. For each blob of data one file is created and chunks are appended as they are received.
Last Finalized State requires large amount of data (blocks and Rholang state) to be transferred which exposed some problems in memory consumption. Is seems some kind of memory leak with the use of direct buffer memo

[2020-10-17 16:40] 9rb commented on #3122
https://rchain.atlassian.net/browse/RCHAIN-3952?jql=text%20~%20%22java.lang.Exception%3A%20cannot%20acquire%22  is a history of prior reports of 'java.lang.exception cannot acquire n bits from a vector that has <n bits..'

[2020-10-17 16:40] 9rb commented on #3116
https://rchain.atlassian.net/browse/RCHAIN-3952?jql=text%20~%20%22java.lang.Exception%3A%20cannot%20acquire%22  is a history of prior reports of 'java.lang.exception cannot acquire n bits from a vector that has <n bits..'

[2020-10-21 13:54] tgrospic opened #3180 "Network (netty) errors cause node to be killed with OOM error"
## Overview
Sometimes we see network errors which are directly related to increase in used heap memory and eventually node get killed with OOM error.
This is even more visible when node is downloading blocks for LFS (~200k).

Log from node killed with OOM error. [2020-10-20-cpx31-high-heap-error.zip](https://github.com/rchain/rchain/files/5416545/2020-10-20-cpx31-high-heap-error.zip)

![2020-10-20

[2020-10-28 19:52] 9rb opened #3196 "Add read.me to rchain/rholang/examples"
Add read.me to rchain/rholang/examples

### If this relates to existing RChain documentation, please provide the complete, specific URL and location in the page

### Please describe the problem including, missing, unclear or incorrect documentation

### Please provide the improvement suggestion, including links to any reference material and examples

### Please describe what if any part of this yo

[2020-11-01 16:29] nzpr commented on #3118
Looks like this issue happens when node is restarted with cleaning up the state, so new .pem files generated, and address of node changes. Bootstrap still has old PeerNode associated with IP address and this creates some collision.

[2020-11-03 16:55] dckc opened #3200 "Problem with use of peek in NonNegativeNumber.rho"
https://github.com/rchain/rchain/blob/0fb0c616dadb553b7b1bea09e448e7a0e1ff9765/casper/src/main/resources/NonNegativeNumber.rho#L48-L50

[2020-11-07 10:19] zsluedem commented on #3001
1. Rename the generated bnfc to `Parser` instead of `Syntax` based on the discussion
https://github.com/rchain/rchain/blob/116c21bf647bc634251b13bd8021487663b560fb/project/BNFC.scala#L95

related discussion https://github.com/rchain/rchain/pull/3193#discussion_r519160300

[2020-11-09 14:12] zsluedem commented on #3126
bors merge

[2020-11-10 01:47] zsluedem commented on #3001
We got two lmdb key value implementation. We should just have one and reused.

https://github.com/rchain/rchain/blob/0fb0c616dadb553b7b1bea09e448e7a0e1ff9765/casper/src/main/scala/coop/rchain/casper/storage/LmdbKeyValueStore.scala#L15-L89

https://github.com/rchain/rchain/blob/0fb0c616dadb553b7b1bea09e448e7a0e1ff9765/rspace/src/main/scala/coop/rchain/rspace/history/Store.scala#L39-L104

[2020-11-10 08:39] tgrospic commented on #3001
The idea is to remove [Store](https://github.com/rchain/rchain/blob/b38985d9/rspace/src/main/scala/coop/rchain/rspace/history/Store.scala#L16) and [LMDBStore](https://github.com/rchain/rchain/blob/b38985d9d1/shared/src/main/scala/coop/rchain/lmdb/LMDBStore.scala#L13) in favor of [KeyValueStore](https://github.com/rchain/rchain/blob/a8cb29ef/shared/src/main/scala/coop/rchain/store/KeyValueStore.sca

[2020-11-10 17:39] tgrospic commented on #3200
@dckc Good catch! Unfortunately this is not by accident. In resolving of conflicts PR #2837 with @Isaac-DeFrain, we discovered strange errors when peek is used on one of two places in NNN contract. Error is manifesting as timeout exception in PoS Rholang tests. All integration tests are passing.

After each bug I resolved in RSpace I tried if it also resolves this bug. Here is the last try after j

[2020-11-10 17:47] #3122 closed, assigned to nobody

[2020-11-11 10:32] tgrospic commented on #3180
Testing new scalalpb (netty) version with LFS shows the same error so it means memory leak is somewhere else. :(

RNode log: [2020-11-11-8g-oom-1.zip](https://github.com/rchain/rchain/files/5523529/2020-11-11-8g-oom-1.zip)

![image](https://user-images.githubusercontent.com/5306205/98801045-863b2880-2411-11eb-9a46-b1f9733f45f6.png)

[2020-11-15 05:41] zsluedem commented on #3139
In some join cases, conflict can not be detected from the event logs.

[code]

The joins on the `B1` would match on `MergedBlock`.

But the eventLogs on B2 and B3 are just linear produce on different channels which is mergeable.

**SOLUTION**:
For the case above is to read joins already in the tupleSpace in B1 and make sure the produce doesn't conflict.

[2020-11-19 10:04] #3170 closed, assigned to nobody

[2020-11-19 19:37] tgrospic commented on #3180
Reopening the issue because bug is not resolved with scalapb upgrade.

[2020-11-22 05:11] zsluedem commented on #3126
The question is actually wrong. In the rspace storage , it is actually using a wrapper codec with protobuf serializer below.

https://github.com/rchain/rchain/blob/8f2924c2a4057b72a640c6e097025989090f559c/rholang/src/main/scala/coop/rchain/rholang/interpreter/storage/package.scala#L67-L77

[2020-11-23 08:35] tgrospic commented on #3173
With scalapb/grpc/netty upgrade #3170 usage of direct buffers is even lower.

![image](https://user-images.githubusercontent.com/5306205/99941901-16149700-2d6f-11eb-92ce-196c2a86c4f2.png)

[2020-11-23 20:24] tgrospic commented on #3118
In my testing of LFS when I restarted the node with the old state, sometimes the response was not received for approved block. But after deleting pem files worked every time.

[2020-11-26 18:04] #3173 closed, assigned to nobody

[2020-11-27 03:10] zsluedem commented on #3139
Another join case, conflict can not be detected from just event logs.

[code]
The produce in B2 could match B3 if they merged. But from the events log, in this case we can not detect conflicts.

**Solution**:
Read the data from the join channel happened in B3 already in B1 and make sure join can not match with exist tupleSpace.

[2020-11-27 05:43] zsluedem commented on #3139
In one of the dev stand-ups, we discussed the situations below

[code]

and

[code]

We have discussed that the two situations above are not very clear. It might depend on how **joins** really work which are not very clear now.**Join** could work like a greedy one which would consume any possible produces or a lazy one which would wait for all the produces to happen to consume.

**As @leithaus sug

[2020-11-27 11:14] tgrospic commented on #3131
Closing this issue because it's included in #3097.

[2020-11-27 11:14] #3131 closed, assigned to zsluedem

[2020-11-27 15:05] zsluedem commented on #3139
One more dilemma when detecting the conflicts.

[code]

[code]

In the version of previous dev implemented https://github.com/rchain/rchain/blob/08711db307e8cadf23455b145b5073bbf384abe2/casper/src/main/scala/coop/rchain/casper/TuplespaceEvent.scala#L69-L90

The first one is mergeable while the second one is conflict. Actually there is no disagreement and confusion that the second case is a conflic

[2020-11-27 17:47] tgrospic opened #3245 "Ideas for future improvements"
## Overview
This issue is to collect ideas for future improvements to RNode.

- [ ] Research about native implementation of history trie (C, C++, Rust)
- [x] Make migration of existing data in file based block store to new LMDB implementation #3205

[2020-11-27 18:43] tgrospic opened #3246 "Fix Docker image tag for feature branches (CI release)"
## Overview
When `dev` or `feature` branch is tagged CI will _push_ Docker image with two tags: built version and `latest`.

## The problem
For feature branches tag `latest` should not be pushed because doesn't represent published next release as from `dev` branch.

https://github.com/rchain/rchain/blob/23ae5cec355baec472e204106fde8e9a779c64a1/.github/workflows/continuous-integration.yml#L377-L385

[2020-11-27 23:04] tgrospic commented on #3139
The first case is mergeable from left side, when B3 is merged to B1->B2 branch. Comm event on zero will already happen so when B3 merges it will just add new consume.
But looking from the right, B2 merged to B1->B3 branch. Two consumes will be in tuple space and produce from B2 will be in conflict. This will basically be the similar case to the second example.
In we detect conflict from any side t

[2020-11-30 06:54] nzpr opened #3247 "Enable autopropose"
## Overview
Now the only way to issue a block is a node operator to call internal API port.
This is not user friendly, sustainable, also validator will be subject to ejecting if it does not propose in correct way.
How node proposes block should defined by shard behaviour.

NOTE: triggering propose does not mean issuing a block. If synchrony constraint fails, node won't create block.

### Design
Pr

[2020-11-30 06:57] nzpr opened #3248 "Remove casper lock"
Now Casper is single threaded, which not allows several blocks to be processed in parallel.

[2020-11-30 07:03] nzpr opened #3249 "Enable confirmation/attestation blocks"
## Overview
Finality time depends on how fast enough stake will be put on top of a block.
Currently node have to wait for new deploys to even confirm validation status of block it received. Also, this involves precharge and refund which makes it slower.
Node should be able to issue some flavour of lightweight block that servers for attestation purposes.

### Impact
Lower time to finalization

###

[2020-11-30 10:26] nzpr opened #3252 "Cache fault tolerance in block metdata"
## Overview
Looking for fault tolerance for old blocks is resource consuming. There should be a way to avoid unnecessary computation.

### Impact
<https://github.com/rchain/rchain/pull/3251> and <https://github.com/rchain/rchain/pull/2947> should be reverted

### Design
it is reasonable to accumulate and cache fault tolerance in block metadata

[2020-12-01 19:30] tgrospic commented on #3247
It would be nice if proposer can return some info when another propose is in progress, like number of deploys, future block info, ETA, etc.

Is it make sense for auto propose can be triggered from API without restarting the node?

[2020-12-02 08:33] nzpr commented on #3247
Agree, for now seqNum can be returned

not sure, its a complication, nice to have feature imo, but not required for now

[2020-12-06 03:19] zsluedem opened #3256 "Should Joins be lazy or greedy?"
THis is a question extended by discussion in https://github.com/rchain/rchain/issues/3139#issuecomment-734655564.

# Should Joins be lazy or greedy?

This is acutually not something which haven't decided in current implementation(version https://github.com/rchain/rchain/tree/2b19649ed29b730dcf814c29faa2f608a9d1858c). In the current implementation, **Joins are lazy**.

## Lazy Joins
[code]
The abov

[2020-12-07 13:24] zsluedem opened #3257 "lmdb error Platform constant error code: ENOMEM Cannot allocate memory (12)"
### What did you expect to see?
In [block-merge branch](https://github.com/rchain/rchain/tree/feature/block-merge), when you call api https://github.com/rchain/rchain/blob/5036147ceda6d85f923366451f41e09d127fd7de/casper/src/main/scala/coop/rchain/casper/api/BlockAPI.scala#L500-L532

An exception below will throw
[code]

The problem happens on initializing historyStore from lmdb in line https://git

[2020-12-07 14:23] zsluedem commented on #3257
After talking with @tgrospic , it is very possible that the lmdb is opening the same file with two different `Env` which cause the problem

[2020-12-08 02:44] zsluedem commented on #3139
[code]
As discussed with @leithaus, the case above is **conflicting** because

1.BaseState + B3 = "for(_ <- 0) {1}|for(_ <- 0) {1}" = B4
2.BaseState + B2 = "Nil" = B5
(Baes + B3) + B2 != (Base + B2) + B3

Anyway, personally, I think the case above should be **mergeable**. If we take the case above a conflict case, it is not possible to develop a mergeable dapp and even worse case is that one perso

[2020-12-08 16:26] tgrospic commented on #3139
@zsluedem I agree with you that conflicts like this can be detected in many deploys but **equality** of merged states in both directions is even more **serious**.
So I want to be on your side and not to break merged equality, maybe the calculation is wrong?

First I want to distinguish between `B` as a state which this block produced and a trace `Tr` which contains changes which are applied to cre

[2020-12-11 11:57] tgrospic opened #3266 "Read-only node should not accept deploys"
### What did you expect to see?
Deploy to read-only should return an error.

### What did you see instead?
Read-only node accepted deploy as it was the validator.

### Steps to reproduce the bug
Deploy to test net read-only node.
[code]
Returned result is successful.
[code]

:heavy_plus_sign: It would be nice for checking if node is a validator is more precise than just checking if private key is

[2020-12-15 15:22] nzpr opened #3268 "Peek should be atomic"
Consume and produce inside a peek should be executed inside a single RSpace lock.
Now first consume executed
https://github.com/rchain/rchain/blob/6dd06305020f02f9fed99c7eda6cbd980fdb0b7d/rholang/src/main/scala/coop/rchain/rholang/interpreter/Reduce.scala#L94-L101
 and then produce <https://github.com/rchain/rchain/blob/6dd06305020f02f9fed99c7eda6cbd980fdb0b7d/rholang/src/main/scala/coop/rchain/rh

[2020-12-17 15:21] #2979 closed, assigned to nobody

[2020-12-18 17:29] tgrospic commented on #3097
All tests are finished linked to the issue.

[2020-12-18 17:29] #3097 closed, assigned to nobody

[2020-12-23 13:28] tgrospic commented on #3098
LFS branch is merged to dev with final release published.
https://github.com/rchain/rchain/releases/tag/v0.10.0

[2020-12-23 13:28] #3098 closed, assigned to nobody

[2020-12-24 02:54] zsluedem commented on #3139
![image](https://user-images.githubusercontent.com/13496262/103055843-57020480-45d6-11eb-9bc2-be79df68ea17.png)
New share from @leithaus

[2020-12-26 06:07] nzpr opened #3277 "Collection of issues left over from block-merge sync to dev branch"
- ~~redesign proposer state~~ done in https://github.com/rchain/rchain/pull/3312
- ~~address minor comments~~ done in https://github.com/rchain/rchain/pull/3312
- reimplement tests disabled in <https://github.com/rchain/rchain/pull/3201/commits/53578aa8c579b434eee256f7971143fcc62d68c7>, if applicable
- ~~fix all tests~~ done in https://github.com/rchain/rchain/pull/3312

[2020-12-28 08:13] nzpr commented on #3256
IMO joins have to be lazy, as to execute continuation you need data from all channels.

[2020-12-28 09:02] zsluedem commented on #3256
Lazy join can lead to dead lock https://github.com/rchain/rchain/blob/dev/docs/rholang/rholangtut.md#dining-philosophers-and-deadlock
Thanks for @tgrospic information

[2020-12-29 02:22] 9rb commented on #2992
Closing as the issue is resolved by add new api getDataAtChannel and getContinuationAtChannels #2993

[2020-12-29 02:22] #2992 closed, assigned to zsluedem

[2020-12-29 12:34] #3125 closed, assigned to nobody

[2020-12-29 22:26] JosephDenman commented on #3147
All of the gas is consumed because that's the default behavior of `RuntimeManager` for error-throwing processes. The error that I get is:`"No value set for 'rho:block:timestamp'. This is a bug in the normalizer or on the path from it"`. It occurs in the evaluator when `New` is evaluated. It's not really a bug because the expected behavior is that the program throws an error when it attempts to ref

[2021-01-02 08:49] zsluedem commented on #3256
After some thinking, I don't think Join is the only way to solve deadlock. This problem can be addressed by the rholang developer like any other languages. And I think for some more complicated program, Join can not be useful for situation but embeded for can do.

[2021-01-02 08:50] zsluedem commented on #3256
Thanks to @JosDenmark pr https://github.com/rchain/rchain/pull/3279.
https://github.com/rchain/rchain/blob/0b2cb9a43347af970a6a4e0c04be9fa17226e371/rholang/src/test/scala/coop/rchain/rholang/interpreter/SequentialConsumeSpec.scala
SequentialConsume would be introduced. After that, the developers can choose from lazy ones and greedy ones.

[2021-01-04 08:18] zsluedem opened #3286 "rholangCLI cleanup"
## Overview
Currently, rholang already got a very old version cli.https://github.com/rchain/rchain/blob/dev/rholang/src/main/scala/coop/rchain/rholang/interpreter/RholangCLI.scala

Hopefully `RholangCLi` can be clean up and make rholang can be run easily without starting the node.After that extensions like https://github.com/tgrospic/rholang-vscode doesn't have to start a node which is very thunk.

[2021-01-04 12:43] tgrospic opened #3287 "Refactor event log to be Vector instead of Seq (List)"
## Overview
We should investigate if using `Vector` for event log will speed up overall execution of Rholang when creating and replaying a block.

https://github.com/rchain/rchain/blob/9ef35159ee0ca5291b8ffdf769c9522a05ab6d9f/rspace/src/main/scala/coop/rchain/rspace/trace/package.scala#L7

[2021-01-06 10:07] tgrospic opened #3290 "Split normalizer into smaller building blocks"
## Overview
Current version of normalizer is written in one file with case analysis of AST. The file has almost 1500 lines of code and in some places deeply nested.
https://github.com/tgrospic/rchain/blob/825e7c4bc3/rholang/src/main/scala/coop/rchain/rholang/interpreter/compiler/normalize.scala#L1495

### Design
Normalizer file should be split into multiple parts with extracted reusable helper fun

[2021-01-08 13:47] zsluedem opened #3296 "One public key can only insert one name in the public registry"
Why does one key can only insert only once in the registry.

Following the example here https://github.com/tgrospic/rnode-client-js/blob/master/src/nodejs/client-insert-signed.js

One public key can only insert one in the public registry.
The second insert with the same public key would return `Nil`.

Probably because the codes below.

https://github.com/rchain/rchain/blob/dev/casper/src/main/reso

[2021-01-08 22:03] tgrospic commented on #3296
Maybe it's better to say that Registry uri corresponds or it's derived from public key. Similar how REV address has corresponding public/private key.

Will as you pointed out _buildUri_ generates address, always the same from the same key.
https://github.com/rchain/rchain/blob/7726d2c1977f93f290aeb627b6148b5556458053/rholang/src/main/scala/coop/rchain/rholang/interpreter/registry/Registry.scala#L8

[2021-01-17 20:01] nzpr commented on #3248
Done in https://github.com/rchain/rchain/pull/3201

[2021-01-17 20:01] #3248 closed, assigned to nobody

[2021-01-17 20:04] nzpr commented on #3008
@vb-cs could you take a look at this?

[2021-01-17 20:06] nzpr commented on #3118
I believe this issue is not present anymore. @tgrospic are you ok if I close it?

[2021-01-18 13:24] tgrospic commented on #3118
@nzpr I can try to reproduce it again. I can confirm it was still present after PR #3111.

[2021-01-21 07:29] zsluedem commented on #3150
Do we need mergedStateHash?

[2021-01-22 12:40] fabcotech opened #3305 "registry URI predictable ?"
Right now the unforgeable names (for example `new x, y in { ... }`) are predictable with explore-deploy API.

Is there a possibility that the registry URIs could also be predictable ?

[2021-01-22 13:16] zsluedem commented on #3305
It depends on which kind of insert you are using for .

`InsertSigned` is used by your public key to generate the URIs which you can predict directly from your public key. Because of that, however, one key can only insert one thing in registry.(related issue https://github.com/rchain/rchain/issues/3296)

`InsertArbitrary` would generate an unforgeable name each time to generate the URIs -> [relate

[2021-01-22 18:11] 9rb opened #3306 "Modify and test system contracts to Operationalize rholang v1.1"
## Overview
Modify and test system contracts to Operationalize rholang v1.1
This can be split into 2 parts.

1. Modify the [rholang examples](https://github.com/rchain/rchain/tree/98de8105e7f1a92fdb7101eb368f8d10b299db88/rholang/examples) into rholang1.1

2. Modify the [rholang on chain library](https://github.com/rchain/rchain/tree/98de8105e7f1a92fdb7101eb368f8d10b299db88/casper/src/main/resource

[2021-01-25 07:11] nzpr opened #3308 "Address comments on PR #3298"
https://github.com/rchain/rchain/pull/3298#discussion_r559170112

[2021-01-25 07:56] zsluedem opened #3310 "Fix failing test in block-merge branch"
After https://github.com/rchain/rchain/pull/3201, some tests are failing but the dev decide to fix those failing tests later. Create this issue the mark those failing tests and make sure this must be addressed later.

1. after #3201, ci test failing  https://github.com/rchain/rchain/runs/1633835972?check_suite_focus=true. Those tests are ignored in https://github.com/rchain/rchain/pull/3309

[2021-01-25 14:13] nzpr commented on #3310
@zsluedem is this the same as https://github.com/rchain/rchain/issues/3277?

[2021-01-26 05:48] zsluedem commented on #3310
@nzpr Oh. Your title is special . I didn't notice. close it and move to #3277

[2021-01-26 05:48] #3310 closed, assigned to nobody

[2021-01-29 16:52] tgrospic opened #3313 "BlockRetriever tests not executed on CI"
### What did you expect to see?
All test in Casper project executed on CI.

### What did you see instead?
Tests of BlockRetriever are not executed as part of CI.

Some tests are failing when run locally:
[BlockRetrieverSpec.scala](https://github.com/rchain/rchain/blob/a52667ad86497ef97593b0dddf2d89a4814b4801/casper/src/test/scala/coop/rchain/casper/sync/BlockRetrieverSpec.scala)
![image](https://u

[2021-02-02 08:08] nzpr commented on #3277
Reenable tests disabled in in https://github.com/rchain/rchain/pull/3303/checks?check_run_id=1811486455 + ~~fix failing leftover. It looks like deadlock is somewhere, because integration tests are hanging.
Anther test of a concern is https://github.com/rchain/rchain/pull/3303/checks?check_run_id=1811474536#step:8:1664 which were not seen before~~ UPD. This is fixed in https://github.com/rchain/rch

[2021-02-02 17:25] 9rb opened #3314 "Parameterize minimum Phlo price"
## Overview

Currently phlo price is hard coded and set to 1 (10^-8 REV) by default. This does not generate sufficient transaction fees to cover the network+hardware cost. The minimum needs to be suitably increased, to allow sufficient cost recovery to allow and encourage decentralization.

### Impact

1. Changing this will impact wallets, dAppy and other projects - we need to inform them of inten

[2021-02-03 05:51] zsluedem opened #3315 "Hard Fork 2 - candidate fixes"
## Overview

This is an issue for the fixes related to **Hard Fork 2**. It should show all the troubles exist in the current codebase but these troubles are very difficult to fix for the current existing running network.

Coop introduces a really really hard fork --> a new genesis with a new state.

And below are all the troubles that exist in current code base.

### Required
1. POS negative rewar

[2021-02-06 19:00] jimscarver opened #3317 "Unforgeable names in a bundle are not converted to JSON in WebAPI"
### What did you expect to see?
unforgeable names stored in maps and lists
### What did you see instead?
nothing, the terms are ommitted.
### Steps to reproduce the bug

try of same test done in deploy of issue.rho
[code]
result
[code]

### What version of RNode are you using?
testnet
### What is your environment?
https://github.com/rchain-community/liquid-democracy/tree/add-issue
this is holding

[2021-02-07 03:47] zsluedem opened #3318 "find a way to traverse triemap in rholang"
## Overview

find a way to traverse triemap in rholang

Currently everything is unclear.

### Impact

no impact
### Dependencies

no
### Design

Nothing right now
### Steps to implement the solution

No
### Steps for integration testing

No
### Resource estimation

[2021-02-09 07:48] gsj5 opened #3319 "Exit rnode when out of disk space"
On a latest 0.10.0 release, got following out of disk space error, however, the node still kept running.

Jan 17, 2021 @ 03:34:29.439 testnet-node-lfs Uncaught Exception
org.lmdbjava.LmdbNativeException$ConstantDerivedException: Platform constant error code: ENOSPC No space left on device (28)
    at org.lmdbjava.ResultCodeMapper.checkRc(ResultCodeMapper.java:114)
    at org.lmdbjava.Txn.commit(Tx

[2021-02-09 07:55] gsj5 opened #3320 "Missing response to ApprovedBlockRequest keeps the node waiting forever"
On 0.10.0 release, NodeA makes a request for `ApprovedBlockRequest` from NodeB.  NodeB responds with `ApprovedBlock`, however, NodeA never receives the block, making NodeA wait forever for the block.  It would be good to have a timeout and retry N times before exiting.

[2021-02-09 09:50] tgrospic commented on #3118
Bug is still present as reported by @gsj5 in a duplicated issue #3320.

[2021-02-09 18:24] jimscarver commented on #3317
Is there any way to enforce the object capability model before this bug get fixed?

[2021-02-09 22:49] jimscarver commented on #3317
here is a little simpler example
[code]
result
[code]
the capabilities are all lost when written. This worked perfectly until recently.

[2021-02-11 07:11] nzpr commented on #3126
What is the current understanding? Can we use only protobuf and get rid of scodec?

[2021-02-11 07:20] nzpr commented on #3315
Do we have issues on #7?
Recent investigations shows that this channel encoding costs us quite a lot. When replaying multiple blocks in parallel this slows down processing - as you can see 25 sec for just opulating channels map.
<img width="1790" alt="Screenshot 2021-02-11 at 10 14 50" src="https://user-images.githubusercontent.com/1746367/107610138-fc8a3980-6c51-11eb-8f06-244f470c3137.png">
http:

[2021-02-11 15:30] jimscarver commented on #3315
[recover rev locked in contract addresses](https://docs.google.com/spreadsheets/d/17Vl0BzJZRuh5FflnEA64Cy7dvewh2qVXAYqr6uZ-XeQ/edit#gid=945391069&fvid=1940700462)

[2021-02-11 21:00] tgrospic commented on #3317
@jimscarver It seems that `admin` and `tally` are unforgeable names in a _bundle_ which is not converted to JSON and not returned in the list.

I'll change the title of the issue to fix WebAPI to convert unforgeable names in bundles also.

The question is about the format. If it's a string like `bundle+{7f139...933da}`, it will be much more difficult to handle it on the client side. Maybe a list l

[2021-02-11 22:25] jimscarver commented on #3317
I see. The capabilities are really there but are invisible. I change the example above to return the size and keys of the map
[code]
result
[code]
We get an error in rholang code if we try to output the Set of keys without converting to a list.

[2021-02-12 07:00] jimscarver commented on #3317
since this always worked before the newer release shouldn't fixing it be labeled a bug rather than an enhancement?

[2021-02-12 08:58] tgrospic opened #3323 "Optimize block metadata store intialization"
## Overview
Currently when node starts, block metadata store is read to create in-memory representation (parent, child relation, ...).

This process is to slow and must be optimized. The solution is to improve iteration of LMDB records.

[2021-02-12 18:07] 9rb opened #3325 "Fix rchain/node/src/main/scala/coop/rchain/node/Main.scala"
## Overview
 rchain/node/src/main/scala/coop/rchain/node/Main.scala   has comments that say

 private def startNode[F[_]: Monixable: ConcurrentEffect: Parallel: ContextShift: Timer: ConsoleIO: Log: EventLog](
      options: commandline.Options
  )(implicit s: Scheduler): F[Unit] = Sync[F].defer {
    // Create merged configuration from CLI options and config file
    val (nodeConf, profile, config

[2021-02-12 18:21] 9rb opened #3326 "Fix rchain/build.sbt"
## Overview
build.sbt has many configuration lines puportedly because redhat openjdk versions were not ready at some point.
https://github.com/rchain/rchain/blob/a4ab50f136fa6fe73d7293f4a5b0646a75b25ac1/build.sbt
Now redhat is ready with openjdk 15.0.2  https://developers.redhat.com/products/openjdk/download

So we should be able to remove all the unnecessary lines of code make the code and depend

[2021-02-13 11:47] tgrospic commented on #3325
This is duplicated issue, @9rb you added it as part of #3001 (Review the TODO comment in Main.scala if it's still relevant because referenced JVM bug seems resolved.).

[2021-02-13 21:33] 9rb commented on #3325
Closing because it is listed in  #3001 as tgrospic mentioned above

[2021-02-13 21:33] #3325 closed, assigned to nobody

[2021-02-13 21:47] 9rb commented on #3009
according to rchain/project/Dependencies.scala, version 0.1 of this repo is being used

[2021-02-13 21:51] 9rb commented on #3009
So it makes sense to keep it updated

[2021-02-13 21:51] #3009 closed, assigned to nobody

[2021-02-14 02:40] zsluedem commented on #3323
I am curious on how to do that.

Just want to point out that building finalized block sets consume a lot of memory which it should not be. This should be optimized also. Maybe I should start another issue.

[2021-02-14 10:17] tgrospic commented on #3323
This is part of the same problem. Currently `toMap`  on KV Store does not offer to make a projection of values stored and because of that the whole value is loaded into memory. I'll create version which can select only part of the value and reduce amount of data loaded into memory.

[2021-02-15 15:56] tgrospic commented on #3287
Closing because there was no performance improvements.

[2021-02-15 15:56] #3287 closed, assigned to vinay-bhamidipati

[2021-02-17 02:05] zsluedem opened #3329 "Retain raw key in Rholang TreeHashMap implementation"
## Overview

Currently what's **Key** stored in [rholang trieMap](https://github.com/rchain/rchain/blob/19880674b9c50aa29efe91d77f70b06b861ca7a8/casper/src/main/resources/Registry.rho) is a Key after KeccakHash which is a byte array.
https://github.com/rchain/rchain/blob/19880674b9c50aa29efe91d77f70b06b861ca7a8/casper/src/main/resources/Registry.rho#L222-L231

And the first **Depth** byte array wo

[2021-02-17 21:58] #3323 closed, assigned to tgrospic

[2021-02-19 08:26] #3246 closed, assigned to tgrospic

[2021-02-24 11:59] tgrospic opened #3333 "Add system process to validate Registry Uri"
## Overview
When registry Uri is accepted from external source it's not possible to validate that format is correct.

### Impact
Usable in contracts like https://github.com/fabcotech/rchain-token.

### Solution
Add additional methods to registry operations.
https://github.com/rchain/rchain/blob/f6050234784c5e8cfc111c2c2371bab82610b9c7/rholang/src/main/scala/coop/rchain/rholang/interpreter/SystemPr

[2021-02-24 16:31] dckc commented on #2956
@tgrospic I got the impression from our discussion that you expect this to be addressed in milestone 9 , so I put it there . If that's not right, if the the stuff in milestone 9 only part of addressing this, please adjust.

[2021-02-24 19:10] tgrospic opened #3334 "Refactor mergeability test cases"
# Overview

Create function for each constructor of `MergeabilityTestCase` so we can wrap the test run itself.
https://github.com/rchain/rchain/blob/5a9b6d4/casper/src/test/scala/coop/rchain/casper/batch1/MergeabilityRules.scala#L273-L854

Each case can be defined something like this in which case we can easily run it separately and use reporting of the context of failed to Scala test.
[code]

[2021-02-26 03:14] zsluedem opened #3335 "Adress more test cases for SynchronousOutputSpec in rholang1.1"
## Overview

https://github.com/rchain/rchain/blob/0b2cb9a43347af970a6a4e0c04be9fa17226e371/rholang/src/test/scala/coop/rchain/rholang/interpreter/SynchronousOutputSpec.scala#L8-L31

Currently in rholang1.1, the test case `"@1!?(1) ; @2!?(2). | @3!?(3)." ` for `"';'" should "have a higher precedence than '|'` is not very strong evidence for that.

Ideally we should get a test case for `@3!?(3). |

[2021-02-26 10:10] nzpr opened #3336 "Fix java dependency for packages"
## Overview
Testing revealed that when using arbitrary java version `.deb` (e.g https://adoptopenjdk.net/) package cannot be installed, as dependency is too restrictive. We need to allow any java version greater than version 11.
RPM were not tested, but it looks like its the same.

### Impact
scala.sbt is the scope of issue

### Dependencies
--

### Design
--

### Steps to implement the solution
1

[2021-02-26 16:11] tgrospic commented on #3329
Like in HAMT keys are hashed to ensure an even distribution of keys and a constant key length.
https://en.wikipedia.org/wiki/Hash_array_mapped_trie

Maybe we can write REV address as a value together with the balance.

[2021-02-27 01:04] zsluedem commented on #3329
That's another option. But I think it should be a more general solution for all rholang trieMaps instead only for revVault which means this should be addressed in Registry.rho instead of RevVault.rho.

 So this key should better be put with value as tuple like below in the 4 step above
{"84bcb773be5e3461c84d57e9239d42c7b88199b4809ffc0158a0b021208e": ( "abcdefg", 100)}

[2021-03-01 05:58] zsluedem opened #3339 "Can peek be explicit in consume data structure instead in comm?"
## Overview

Currently, the consume data structure is like below
https://github.com/rchain/rchain/blob/79060b3fa15b372e5ed233e845a01a7528228597/rspace/src/main/scala/coop/rchain/rspace/trace/Event.scala#L117-L121

and the proto structure is like below
https://github.com/rchain/rchain/blob/79060b3fa15b372e5ed233e845a01a7528228597/models/src/main/protobuf/CasperMessage.proto#L211-L215

But when one

[2021-03-01 08:41] tgrospic opened #3340 "Refactor KeyValueCache (implement size limit)"
## Overview

NOTE: Issue is extended to also implement size limit so that memory doesn't grow indefinitely.

Change `KeyValueCache#get` method to return `F[Option[V]]` because *fallback* may not always be available in which case the question is what to supply as `F[V]`. When Option is returned it's easy to do _orElse_ with fallback parameter.
https://github.com/rchain/rchain/blob/230b2515f369af344

[2021-03-02 07:32] zsluedem commented on #3339
Another extended topic on this is that maybe `peek` is worth a method in https://github.com/rchain/rchain/blob/98de8105e7f1a92fdb7101eb368f8d10b299db88/rspace/src/main/scala/coop/rchain/rspace/Tuplespace.scala#L5-L70 trait

[2021-03-03 06:15] nzpr opened #3343 "Test suite for proper encoding of trie content"
## Overview
Test suite that makes sure encoding of data in trie done properly is needed.

Previously there was a bug found when sorting of channels in Join was not done properly and no test prevented this.

The problem occurred again when working on https://github.com/rchain/rchain/pull/3312. E.g. in this CI action https://github.com/rchain/rchain/runs/1934792851?check_suite_focus=true unit tests

[2021-03-03 08:24] tgrospic commented on #3096
@nzpr Is this completed as part of #3299?

[2021-03-03 09:41] nzpr commented on #3247
Weird that github does not autoclose this

[2021-03-03 09:41] #3247 closed, assigned to nzpr

[2021-03-03 09:44] nzpr commented on #3139
The latest implementation of conflict detector is in <https://github.com/rchain/rchain/pull/3312>
But this issue should has been closed long time ago - github does not do that for some reason

[2021-03-03 09:44] #3139 closed, assigned to zsluedem

[2021-03-03 13:21] #3008 closed, assigned to vinay-bhamidipati

[2021-03-07 06:08] wangjia184 opened #3344 "Inconsistent behavior when reducing empty (Nil) expressions with comparison and boolean operators"
The following rholang code is correct

[code]

### What did you expect to see?

It should output either `true` or `false`. In this specific example, it should print `false`

### What did you see instead?

Neither `true` nor `false` is printed, also it does not raise error

### Steps to reproduce the bug

First start RNode in docker as below

[code]

then store the rholang code into `bug1.rho`, and

[2021-03-08 07:21] zsluedem commented on #3268
https://github.com/tgrospic/rchain/tree/peek-non-negative-number-bug related branch which can reveal some of the problems with `peek` though I didn't run that once. More infos would be put here.

[2021-03-09 07:55] nzpr opened #3346 "Improve concurrent block validation (optimize or remove channels map)"
## Overview
Parallel block validation should be improved. Currently disconnection between channels in event log an real channels requires maintaining a map, and its quite costly
<img width="1783" alt="Screenshot 2021-02-10 at 22 49 11" src="https://user-images.githubusercontent.com/1746367/110436120-e2167500-80c4-11eb-9fdf-341ee9a8c122.png">

### Impact
https://github.com/rchain/rchain/blob/cf7943

[2021-03-09 07:57] nzpr opened #3347 "Conflict detection time grows exponentially"
## Overview
As shown in [this PR](https://github.com/rchain/rchain/pull/3312) description, conflict detection time grows exponentially. This makes sense because it is combination of branches involved

### Impact
https://github.com/rchain/rchain/blob/5dac4d19ffbc84e85608dee780419b55009134d8/casper/src/main/scala/coop/rchain/casper/blocks/merger/CasperDagMerger.scala#L114-L123

### Dependencies
_

#

[2021-03-09 16:49] dckc commented on #3347
I suggest refining titles of issues like this to be clear about *how much* speed should be improved. "conflict detection time grows exponentially" would make a more clear title, with **bug** rather than **enhancement** as the label. Perhaps add a **performance** label too.

[2021-03-09 17:22] nzpr commented on #3347
@dckc thanks! I'll do that. Thought I'm not sure why this is a bug? This just means that one possible implementation which is not optimal is in place now.

[2021-03-09 18:29] dckc commented on #3347
Well, it's now phrased as "the code has this bad thing" i.e. "there is a bug".

If exponential time for conflict detection is actually acceptable, then I suppose we should re-phrase it as an enhancement: "reduce conflict detection time from exponential to polynomial time" or some such. But the way I discovered this is via the milestone currently scheduled for March 31, which strongly suggests expo

[2021-03-10 05:51] nzpr commented on #3347
I assigned this to block merge milestone because we want to have a version that can clearly show linear scalability asap. And this particular issue does not look that hard. I think I assign features to milestone using "would-be-really-nice-to-have" criteria.

[2021-03-10 16:18] tgrospic commented on #3347
We have working implementation so this is definitely an improvement that we will try to include in the first version of block merge.

[2021-03-10 18:20] nzpr opened #3349 "Appending of pending rewards is conflicting for large networks"
## Overview
When running tests on reasonably large number of validators (30+), conflict detection between some blocks can lead to false positive.
Conflict that is detected is race for base produce - it is destroyed in both event logs. Thought it should not. At least it is expected for conflict resolution outcome to be always the same. This happens in precharge or refund, it is not clear where exac

[2021-03-10 18:53] tgrospic opened #3350 "Modify the DAG representation to support block merge"
## Overview
Currently view on the DAG can only be created using the most recent state of BlockDagStore. To be able to validate merged blocks created by other validators (with relaxed synchrony constraint) we need to be able to construct DAG view from perspective of that block, i.e. view on the DAG of peer validator at the beginning of block creation. When allowing proposing without requirement to

[2021-03-13 10:16] nzpr commented on #3308
This is done, in mentioned PR

[2021-03-13 10:16] #3308 closed, assigned to nzpr

[2021-03-13 10:24] nzpr commented on #3277
Tests requiring attention:
[HashSetCasperSpec](https://github.com/rchain/rchain/blob/53578aa8c579b434eee256f7971143fcc62d68c7/casper/src/slowcooker/scala/coop.rchain.casper/HashSetCasperSpecification.scala#L1-L247) <- https://github.com/rchain/rchain/pull/3351#discussion_r593023486 -> Requires sync version of propose (@zsluedem is working on this)
[MultiParentCasperAddBlockSpec](https://github.com

[2021-03-16 07:24] nzpr commented on #3277
Other minor tasks
Make names more descriptive <- https://github.com/rchain/rchain/pull/3351#discussion_r592825044
Remove unused metrics source <- https://github.com/rchain/rchain/pull/3351#discussion_r592828729
Match on the list itself instead of matching size of the list <- https://github.com/rchain/rchain/pull/3351#discussion_r592831243
Add newline in the end of defaults config <- https://github

[2021-03-19 16:13] 9rb commented on #3344
new stdout,somename in {
  somename!(1) |
  for(@x <- somename) {
    if( ( x != 1) and  (x.get("something") > 0) ) {
      stdout!("true")
    } else {
      stdout!("false")
    }
  }
}

gives

Error: Method `get` is not defined on Int.

But in case of Nil, we do not get the above error message but "Error: Multiple expressions given." I used https://rgov1.netlify.app/ to test this piece of code.

[2021-03-19 18:51] tgrospic commented on #3344
The problem is how reducer evaluates comparison and boolean operators. There are two places where error with the message `"Multiple expressions given."` can be thrown. @9rb what you reported is from here.
https://github.com/rchain/rchain/blob/09d9acc916e008dc93a7289202262fd5a4d9d41d/rholang/src/main/scala/coop/rchain/rholang/interpreter/Reduce.scala#L1448-L1456

Here is another place. In both plac

[2021-03-20 06:53] nzpr opened #3357 "Possibly bug in managing fs2Streams lifecyce"
## Overview
There are occasional messages in logstream
[code]
most probably it is introduced with some changes in PR https://github.com/rchain/rchain/pull/3312

### Impact
There is no evidence available that this influence normal node operation.

### Dependencies
--

### Design
--

### Steps to implement the solution
--

### Steps for integration testing

--
### Resource estimation
--

[2021-03-20 14:19] 9rb commented on #3344
@tgrospic ,
1.  I think the originally reported bug is this : "A and B and .. n " should always evaluate to false if ANY ONE of the component expressions evaluates to false. (This of course applies ONLY to the 'false' case). In the example wangjja184 provided, the first component expression evaluates to false, but the "and" gets lost in the indeterminacy of the second component. It should not matt

[2021-03-21 13:19] tgrospic commented on #3344
@9rb What I described is the root cause of all these cases you have mentioned.

Calling `x.get` on a process `x` which doesn't support it will throw exception. So the problem is again if `x` is Nil which trigger this bug before it evaluates `get` method.

[2021-03-22 08:39] wangjia184 commented on #3344
Yep, that is the reason I assumed.
`and` branches should be evaluated from left to right. If the left branch returns false, the right branch do not need be evaluated.
`or` branches are similar, if left one returns true, the right branch do not need be evaluated.
Agree?

[2021-03-23 19:58] nzpr opened #3360 "Validation of genesis didn't fail when genesis validator had different quarantine-length"

[2021-03-24 08:13] nzpr commented on #3340
I guess `KeyValueCache ` is a bad name for what I tried to express. It's more a reader that caches data requested. In your code snippet `cachedData ` when called, will read from store in case there is no cache.

Its more like
[code]

[2021-03-24 18:29] nzpr commented on #3340
Measure of merging performance with and without caching

```grep "compute changes" /root/.rnode/rnode.log | sed "s/.*consumes \[//g" | sed "s/ ms]//g" |  awk -F : '{sum+=$0} END {print "AVG ",sum/NR}'```
AVG 118.056 ms => 214.645 ms

```grep "process trieAction" /root/.rnode/rnode.log | sed "s/.*trieActions \[//g" | sed "s/ sec]//g" |  awk -F : '{sum+=$0} END {print "AVG ",sum/NR}'```
AVG 5.06381s

[2021-03-24 18:29] #3340 closed, assigned to nzpr

[2021-03-25 08:02] tgrospic commented on #3340
Yes, you are absolutely right, my example is misleading because it's more about how to use the cache and not how to build it.

Here is better example. This is how should look like using of `fetchDataCached` function. This function should be _transformed_ version of `fetchData` function.

[code]

So now the question is how to create a *cache manager* for any function `f : A -> Option[B]`?

[2021-03-27 12:05] 9rb commented on #3344
Interestingly, getOrElse gives a more useful error message.  The following

new stdout,somename in {
  somename!(Nil) |
  for(@x <- somename) {
    if( x != Nil and x.getOrElse(0, ("something") > 0)) {
      stdout!("true")
    } else {
      stdout!("false")
    }
  }
}

gives

Result

[ ]

Problem

Unexpected compare: Expr(GString(something)) vs. Expr(GInt(0))

[2021-03-28 17:09] tgrospic commented on #3344
@9rb that's good observation, although it's not related to `.getOrElse` method defined on Rholang `Map`.

Comparisons operators (except equality `==`, `!=`) have check for type equality of both operands.
https://github.com/rchain/rchain/blob/09d9acc916e008dc93a7289202262fd5a4d9d41d/rholang/src/main/scala/coop/rchain/rholang/interpreter/Reduce.scala#L491-L496

The same error will be thrown for `if(

[2021-03-28 17:30] tgrospic opened #3362 "Boolean operators and/or are evaluated eagerly (add lazy &&/||)"
### What did you expect to see?
Boolean operators should lazy evaluate operands.

**UPDATE: Instead if changing behavior of existing `and` and `or` boolean operators, lazy variants will be added `&&` and `||`.**

### What did you see instead?
The error _Error: Method `get` is not defined on String._ is reported instead.

### Steps to reproduce the bug
`if(false and ("x".get(0))) {}` should not thr

[2021-03-28 19:10] tgrospic commented on #3344
@wangjia184 I agree. Boolean operators should be lazy in evaluation of operands. I created a new issue for that bug #3362. I've also renamed title of this issue to be more specific to the bug expressed here.

[2021-03-31 02:40] #3360 closed, assigned to nzpr

[2021-04-05 05:08] wangjia184 opened #3369 "Arithmetic overflow in rholang"
The rholang interpreter does not raise error when arithmetic overflow occurs.
e.g. `9223372036854775807`L + `9223372036854775807`L = `-2`
This is because it inherits from Scala(JVM)'s nature
https://github.com/rchain/rchain/blob/dev/rholang/src/main/scala/coop/rchain/rholang/interpreter/Reduce.scala#L535

While in Rust, arithmetic overflow panics the process by default because Rust is more strict.

[2021-04-05 07:55] nzpr commented on #3096
@tgrospic it should be autoclosed, but it did not work. So I'm closing

[2021-04-05 07:55] #3096 closed, assigned to nzpr, tgrospic

[2021-04-05 09:00] zsluedem commented on #3369
https://github.com/rchain/rchain/issues/2956 related

[2021-04-06 00:58] wangjia184 commented on #2956
What is supposed to do to fix this issue?   When arithmetic overflow occurs, terminate the reduction? or raise recoverable error which can be caught by user-code ?  The latter seems not easy since I dont see error handling in rholang.

[2021-04-06 03:25] zsluedem commented on #3369
also answer to https://github.com/rchain/rchain/issues/2956#issuecomment-813748515
I don't have a concrete plan to resolve this kind of problem. I think we would just leave this problem as it is(overflow) like any other language.

Besides, rholang provide a [NonNegativeNumber.rho](https://github.com/rchain/rchain/blob/13be1a71b8f59016179af832a0a00d7a0a96b282/casper/src/main/resources/NonNegativeNu

[2021-04-06 03:25] zsluedem commented on #2956
https://github.com/rchain/rchain/issues/3369#issuecomment-813794140

[2021-04-07 06:27] tgrospic opened #3372 "Change rejected deploys in block to be a flag"
## Overview

With PR #3304 rejected deploys list are added to block message. When validator creates a merged block it can specify which deploys are rejected (ignored) in the current merging scope which contains all blocks from tips to Last Finalized Block (LFB). Later, with new blocks, in the new merging scope rejected deploys can be changed and previously rejected now can again be included. So th

[2021-04-08 06:38] zsluedem commented on #3372
Currently the node doesn't get the ability to judge whether the deploys are `unrejected`. This might need another issue for that.

[2021-04-08 12:59] tgrospic commented on #3372
I agree, this should be another PR (it can be linked to this issue though).

@nzpr Can you take over this part? We need to update rejected deploys from current merge but also all previously mentioned as rejected.

Because we have a flag now for rejections, I suggested to rename this field inside block as *conflicting* or similar.
https://github.com/rchain/rchain/pull/3373/files#r609653508

[2021-04-08 18:05] jimscarver opened #3375 "deploy fails without error message"
### What did you expect to see?
output to deployId - counts, {"red": 2, ...
### What did you see instead?
Deploy error when executing Rholang code.
### Steps to reproduce the bug

create an issue, adding a voter, tallying a vote having at least one voter.
See https://docs.google.com/document/d/1V5k9tDjztEVDYiXJG1-Hpb0rNtVcV22GrsdXb0pDUx8/edit#
### What version of RNode are you using?
0.10.0/1/2
##

[2021-04-09 14:37] zsluedem opened #3376 "Introduce benchmark continuation test"
## Overview

The goal for this issue is to introduce benchmark continuation tests which we can have more solid prove the codes are faster.

**Ultimately, after benchmark, there would be benchmark report for that.** After some investigation, https://jmh.morethan.io/ should be the best place for that.

With some investigations, there are 2 solutions to solve that.

####  Plan A:

Introduce this ci d

[2021-04-10 16:07] dckc commented on #3375
@jimscarver did you say a couple other people reproduced this bug? Who were they?

[2021-04-11 12:46] jimscarver commented on #3375
@w2vy and @Bill-Keuntje confirmed the bug

[2021-04-11 16:59] nzpr commented on #3372
I have a feeling that this unrejection contradicts with how merging is done now - because if we choose to take one of parents post state as a base state for merge - we have to agree with conflict resolution done by that parent.

Let me outline whats on my mind.

I'm thinking about the following (illustration here just to point to M1 M2 M3):

              *     -> M3
          /      \
         *

[2021-04-12 11:40] jimscarver commented on #3375
Any vote causes the choice and tally to fail independently but in this case adding immediate tally/choice does not cause the error. https://gist.github.com/jimscarver/8b5a7733592855a117ded183d8d55e0b

https://github.com/rchain-community/liquid-democracy/blob/reorganize-actions/Issue.rho also runs without an error.

[2021-04-13 08:26] nzpr commented on #3346
After this issue is resolved, tests for block processor should be implemented as per https://github.com/rchain/rchain/pull/3355#discussion_r610344614

[2021-04-13 11:52] fabcotech commented on #3329
Hi all, I'm encountering the same issues for making rchain-token scalable.

In my case I store purses, and each of them has an id: "1","2","4" if fungibles, or "amazoon","microsooft",instagruum" for NFT. I have to issues:
- issue 1 (major), I can't iterate and get all keys (or all values) of the TreeHashMap.
- issue 2 (less major), I can't remove a key, only "get", "set", "update" methods are avai

[2021-04-13 15:37] Bill-Kunj commented on #3375
The message appeared because of the code
`log!((name ++ "delegates to" ++ delegate))
`
Where 'name' is a URI. But, the '++' operator is not defined for URI. The interpreter silently (no log message) indicates an error which gets reported to the API, which in turn produces "Deploy error when executing Rholang code".

[2021-04-13 16:22] dckc commented on #3375
Thanks for the update, @Bill-Keuntje

[2021-04-15 07:39] tgrospic opened #3378 "Replacement of Rholang protobuf types with Cap'n Proto"
## Overview

As part of Rholang execution, all Rholang terms must have binary representation. Currently [Protocol buffers](https://developers.google.com/protocol-buffers) (*protobuf*) is used for that purpose and specification of Rholang types is written in *protobuf* format ([RhoTypes.proto](https://github.com/rchain/rchain/blob/382576eb/models/src/main/protobuf/RhoTypes.proto)).
From this specif

[2021-04-16 10:31] zsluedem commented on #3378
Maybe it makes more sense to have a benchmark to prove that it is really worth it?

[2021-04-17 15:27] slowbreathing commented on #3378
Replace Protobuf with Captain proto: As suggested this will be divided in 2 parts.    

- A careful and considered **Framework Independent Binary Representation(FIBR)** of Rholang types: This provides the necessary decoupling if one wants to swap **Capn Proto** with **[SBE](https://github.com/real-logic/simple-binary-encoding)**. One of the reasons to pick one over the other might be their design

[2021-04-18 12:59] jimscarver opened #3380 "given bundle0{*deployId) you should be able to get a rev address"
### What did you expect to see?
The rev address of the deployer on the revAddrCh
### What did you see instead?
Nil
### Steps to reproduce the bug

RevAddress!("fromUnforgeable", bundle0{*deployId}, *revAddrCh)
It seems there is no way to find the rev address of the current deployer of a contract previously deployed without exposing your unbundled deployerId. Exposing your deployerId is a major sec

[2021-04-19 07:51] tgrospic commented on #3380
@jimscarver here is an example how to get REV address from *deployerId*.
https://github.com/rchain/rchain/blob/6507f3cf94859ef906eb0b0a4dd7f566babe14e5/casper/src/main/resources/RevVault.rho#L70-L76

`RevAddress!("fromUnforgeable", ...)` is for REV vaults created from unforgeable names only.

[2021-04-19 09:32] jimscarver commented on #3380
I am well aware of that @tgrospic  The problem is that sharing the deployerId is a major security risk!
isn't deploytId unforgeable? fromUnforgable get Nil when the current deployId is different from the original.. It would be wrong to give access to the persons vault. All I need is their rev address.

[2021-04-19 14:28] zsluedem opened #3381 "Check if all the rholang libraries are mergeable"
## Overview

Based on https://github.com/rchain/rchain/pull/3355/files#r610558141.

We should still keep some tests or even more tests to cover most of the basic [rholang library](https://github.com/rchain/rchain/tree/dev/casper/src/main/resources) to be sure that all the libraries are mergeble.

### Impact

### Dependencies

### Design

### Steps to implement the solution

### Steps for integrati

[2021-04-20 11:10] jimscarver commented on #3380
Consider the use cases:
[code]
there must be a way

[2021-04-20 14:53] tgrospic opened #3382 "Performance measurements of History implementation"
## Overview

RSpace data is stored as a collection of key-value pairs (tuple space). For each distinct state of this collection we should be able to calculate a hash to uniquely define it and to provide a way to verify the integrity of the data.

Implementation of *Merkle-Patricia Trie* is used for this purpose in RNode (currently v0.10.2) written in [MergingHistory](https://github.com/rchain/rcha

[2021-04-20 18:35] nzpr commented on #3277
Closing as PR merged

[2021-04-20 18:35] #3277 closed, assigned to nzpr

[2021-04-20 18:39] nzpr commented on #3058
Another reference for this issue https://github.com/rchain/rchain/pull/3366#issuecomment-823234880

[2021-04-20 18:43] nzpr commented on #3058
We need
1) Not add latest message for any validator until message is created. Bonding should not lead to LM creation. (TODO discuss)
2) Use bonds map of message itself and not main parent bonds map (TODO discuss)
3) Check if only active validators are used

[2021-04-21 05:13] zsluedem commented on #3318
https://github.com/rchain/rchain/blob/b88d78b6ac991e0616e66a7f0da1dc9bca425e72/casper/src/main/scala/coop/rchain/casper/util/rholang/RhoTrieTraverser.scala

[2021-04-21 05:13] #3318 closed, assigned to zsluedem

[2021-04-21 06:35] zsluedem opened #3383 "Consider Blake3 to replace Blake2"
## Overview

Blake3 is faster than Blake2 and also very secure although it is very new and announced in 2020. We can consider replacing blake2 hashing to blake3. Suggested by @wangjia184

![image](https://user-images.githubusercontent.com/13496262/115506740-cef2e980-a2ad-11eb-9775-042e977fb53d.png)

Related material:
https://github.com/BLAKE3-team/BLAKE3/
### Impact

Need-hard-fork

### Dependenci

[2021-04-21 08:10] tgrospic commented on #3378
@zsluedem I agree, but the first part to decouple generated code will allow us to choose and test whatever is faster in the future.

[2021-04-21 08:45] zsluedem opened #3384 "Make encoding algorithm for channel hash consistent"
## Overview

## Current shortage of encoding

Despite of the protobuf encoding method we used for the `Channel Type` which is [Par](https://github.com/rchain/rchain/blob/13be1a71b8f59016179af832a0a00d7a0a96b282/models/src/main/protobuf/RhoTypes.proto#L31-L42), there are differences between the encoding of the [EventLog Channel Hash](https://github.com/rchain/rchain/blob/13be1a71b8f59016179af832a0a

[2021-04-21 14:44] 9rb commented on #3383
@zsluedem Are we able to estimate how much this change would improve performance on higher level metrics like, say block creation or replay ? Or, conversely do we know what % of time is currently spent in hashing to or from blake ? Thanks

[2021-04-22 00:50] zsluedem commented on #3383
No plans for that. Can not find any reliable scala library for that.

[2021-04-23 08:27] wangjia184 opened #3385 "RNode In-memory eval mode for performance test"
The prototype of rholang-runtime developed in rust is soon to come out. It supports a few language keywords, including send / receive / par / ground type / stdout system contract with a fresh-designed in-memory lockless tuplespace.

I want to have performance comparison between the current scala RNode edition and the prototype.
The test is simple, by executing same snippets of rholang code in scal

[2021-04-28 07:38] zsluedem commented on #3384
![image](https://user-images.githubusercontent.com/13496262/116365312-b8153f80-a837-11eb-865e-7e62b7fa938a.png)
Prefix design based on @tgrospic

[2021-04-29 04:28] dckc commented on #3346
In [227 Apr 23 Community Debrief](https://blog.rchain.coop/2021/04/23/debrief-227/), @9rb reports that a hard fork is needed in addition to block merge to get RChain to perform / scale as designed. I asked for a pointer to the relevant issue and @nzpr suggested this one.

Since this is preventing RChain from scaling as designed, I suggest changing the label from an enhancement to **bug** and chang

[2021-04-29 05:28] wangjia184 commented on #3378
Just my 5 cents:

The procedure is something like

`DATA  =====encoding=====>  BUFFER =====hashing=====>  RESULT `

If considering performance,  then we should avoid any heap allocation during this procedure.

`DATA  =====encoding and hashing=====>  RESULT `

This would be much faster if heap allocation is avoided.
If it is two-steps procedure,  heap allocation is unavoidable.

[2021-04-29 15:05] fabcotech commented on #3380
I propose the following solution to identify users (that you don't know the public key yet), without the need for `deployerId`.

The contract has a unique nonce:
```nonce: "UNIQUE_NONCE"```

When a person wants to register, this person generates a signature of the nonce off-chain with his private key (javascript for example), and sends this payload to the contract:
[code]

rholang:

[code]

[2021-04-29 19:36] tgrospic commented on #3380
## Notes from Tech Governance meeting 2021-04-29

We discussed about possible solutions how deployer can prove identity to calling contract. Sending `rho:rchain:deployerId` is security risk for other party to use it under authority of the deployer (REV transactions, impersonation).

All solution will be explained through communication between Alice and Bob. Alice is a deployer which wants to prove

[2021-04-30 07:26] tgrospic commented on #3329
@fabcotech (from our DM communication) It's not about which collection to expose/use. It's about how it's stored and how this influence merging. If the whole collection is stored in one channel, for each operation like insert or update, the whole collection must be deserialized, modify in Scala (which is fast) and serialize again. And in this case if in some other block someone else change the sam

[2021-04-30 19:39] jimscarver commented on #3380
It occurs to me that using the budle0(*deployId) that gives permission to get the public key and rev address that only works for the current deploy solves the issue with solution 3 since it should fail for any other deploy.

Atticbee is converting solidity to rholang and is in a quandary on how to support sender. I told him about the above alternatives which he said are ridiculously complicated an

[2021-04-30 22:34] dckc commented on #3380
The short answer is: [ACLs don't](http://waterken.sourceforge.net/aclsdont/).

[2021-05-01 18:25] jimscarver commented on #3375
using version 0.10.2 (4220ea8e61c0525cddb980e97b45c6939c8f4a64)  there is no error message if you misspell a function name. The code does nothing and if you do not listen on deployId you get no indication at all that there was an error.
![image](https://user-images.githubusercontent.com/3037201/116791420-3f58f200-aa88-11eb-83c4-c3d6e4a97d52.png)

A whole section of code was silently not being exec

[2021-05-01 22:40] w2vy commented on #3375
I am getting closer to fixing this right.
The pyrchain project looks very promising

On May 1, 2021 2:25:48 PM EDT, Jim Whitescarver ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-05-03 08:00] zsluedem commented on #3349
https://github.com/rchain/rchain/runs/2490010239?check_suite_focus=true
This can be reproduced by test. But it is more difficult with less nodes.

[2021-05-05 06:31] wangjia184 opened #3399 "Proposal : A new key mapping design"
## Background

In Rho-Calculus, Process(name) can be everything. In most cases it is just a ground type(string/int/etc) or unforgeable name. But in unusual  case it can be a composite process, e.g. (`@{ Nil | if(true) {} }`) . When producing or consuming towards a name, the name is the key to locate in tuplespace.  Hence, current RNode gets a unique key by following procedure.

[code]

This proced

[2021-05-05 06:42] zsluedem commented on #3399
https://github.com/rchain/rchain/issues/3384 related

[2021-05-05 09:29] wangjia184 commented on #3378
After some research, here is my idea.
If [this proposal](https://github.com/rchain/rchain/issues/3399) is accepted, the serialization performance is not so important any more.  Because writing into LMDB can be offloaded to background during reduction. And serialization is not needed in most cases when generating the tuplespace key by name.

So the main concerns to choose the serialization method a

[2021-05-05 10:23] tgrospic commented on #3399
@wangjia184 I really appreciate your suggestion.

First I want to focus on names that makes the keys and the storage.
Names that are created from primitive types are for sure legitimate but when used on-chain does not make to much sense because they can be forged. That's way the need for unforgeable names are essential.
So composite names like `@(<hash>, 42)` will be mostly used where unforgeable

[2021-05-05 11:35] wangjia184 commented on #3399
Thanks @tgrospic for explanation, now I start to understand [these strange codes](https://github.com/rchain/rchain/blob/dev/rholang/src/main/scala/coop/rchain/rholang/interpreter/Reduce.scala#L170-L173) .

It seems its purpose is to avoid the radix tree to fan-out too fast.  Still don't get a clear mind about all the stuff like Merkle-Patricia Trie, how they are organized across blocks.   The enco

[2021-05-05 11:35] #3399 closed, assigned to nobody

[2021-05-05 11:37] wangjia184 commented on #3385
This one is solved, thanks @zsluedem

[2021-05-05 11:37] #3385 closed, assigned to nobody

[2021-05-05 11:39] #3369 closed, assigned to nobody

[2021-05-05 14:48] tgrospic commented on #3399
@wangjia184 to be able to record execution on the blockchain every produce/consume is marked with generated hash with the seed from previous scope. In that way it creates like a trace of execution.
The code you mentioned is basically the place where Rholang _par_ operation has to be split and the pseudo random generator has to split the seed also `seedParent  -->  seedParentLeft | seedParentRight`

[2021-05-05 23:50] wangjia184 commented on #3399
@tgrospic Very essential question here

What is the transaction in rholang which makes up the leaves in Merkle tree?
A transaction is a send(receive)?  or a matched  COMM events? Or a deployed par?

[2021-05-06 00:07] wangjia184 commented on #3399
We can use it as a black-box by static-linking it via FFI in rust :)

[2021-05-06 02:01] zsluedem commented on #3399
RChain only got one state merkle tree which is not like ETH (World State Trie,Transaction Trie,Receipt Trie,Account Storage Trie).  RChain state trie represent what's left in the tuplespace. You can take that as Tuplespace Trie

[2021-05-07 15:18] tgrospic opened #3402 "Testing of LFS on test net"
## Overview

This issue is to record results of testing **Last Finalized State** synchronization of node on the **test net** network.

| Nr.  | RNode   | Sync time<br>(fully catch up) | Sync state | VPS | Log
| ---: | :--:    | ---:        | ---:    | ---    | ---
| 1.   | v0.10.2        | **4 h** | 3 h   | 16vCPU 32GB CPX51 (Hetzner) | [16vCPU_32GB_CPX51-1.zip]
| 2.   | v0.11.0<br>alpha2 | -

[2021-05-11 03:21] wangjia184 opened #3404 "Support Apple M1"
Max OS BigSur , CPU Apple M1 Arm64

I made some attempt to fix the compilation isssue in apple M1.
https://github.com/wangjia184/rchain/commit/753e54c68cce7062d4b2e7da7cf0158a5be276ad

Generally `protoc` is not shipped with a pre-compiled binary, hence it has to attach to an existing `protoc` , details can be found here https://github.com/scalapb/ScalaPB/issues/1024

Still the compilation fails at

[2021-05-12 11:00] tgrospic opened #3406 "Investigate user deploy error (REV transfer)"
### What did you expect to see?

User submitted deploy should execute successfully. I tried to repeat the same code locally (with different source REV address) and it executed without errors.

### What did you see instead?

Deploy is executed with error status. We need to investigate what is the reported error.
- https://revdefine.io/#/blocks/4fd206b6cf85852b1516da86bc683323514ebb2f1e9ecb73e784af8

[2021-05-12 11:08] zsluedem commented on #3406
I just ran #3405 with reporting and replay the block got the error below

[code]

[2021-05-12 16:59] jimscarver commented on #3406
aedel had the same problem today deployid 2302c47b7780ad4b326e6224a1d08924f1c341a11c7f4d11185bec7a1950c8e86a03c922881c4aa91bf7985a89db9be0739aa3963c5392b154754b55766161421b

[2021-05-12 17:40] tgrospic commented on #3406
@jimscarver I tested transfer with the same target REV address and the cost was indeed over 250k (254845).

I merged your change (https://github.com/tgrospic/rnode-client-js/pull/28) to increase phlo limit and also set it as default for custom deploy. Thanks!

[2021-05-12 17:48] tgrospic commented on #3406
Closing issue as the resolution was to increase phlo limit. Transfer cost exceeded 250,000 phlogistons.

[2021-05-12 17:48] #3406 closed, assigned to nobody

[2021-05-12 17:59] tgrospic commented on #3384
Reopening because another PR is linked to this issue.

[2021-05-13 18:43] dckc commented on #3380
In discussion of other blockchains, someone raised a point about contracts denying service ("censorship") based on who is making the request. So some of the designs here might introduce such a risk.

[2021-05-19 17:07] tgrospic opened #3413 "Critical paths for performance testing"
## Overview

This issue describes some of the important points in execution path from the perspective of performance measurement and analysis.

Testing can be done on validator node which can produce blocks. Pushing any deploy and proposing a block will also execute two REV transfers for pre-charge and refund of the deployer REV address. So for the purpose of testing performance just `Nil` as Rhol

[2021-05-22 14:06] dckc opened #3415 "List.toSet missing from rholang cheat-sheet"
### What did you expect to see?

List.toSet in the cheat-sheet
https://github.com/rchain/rchain/blob/dev/rholang/reference_doc/rho_cheatsheet.pdf

### What did you see instead?

no List.toSet

_credit: @jimscarver for discovering the issue_
cc @SteveHenley

[2021-05-23 12:37] tgrospic commented on #3415
Also missing in documentation of methods for data structures.
https://github.com/rchain/rchain/tree/dev/rholang/reference_doc/data_structures#methods

UPDATE: Documentation is updated.
https://github.com/rchain/rchain/tree/dev/rholang/reference_doc/data_structures#ordered-data-structure-methods

[2021-05-26 03:07] zsluedem commented on #3257
Can not reproduce this bug. Close it.

[2021-05-26 03:07] #3257 closed, assigned to zsluedem

[2021-05-28 20:13] Isaac-DeFrain commented on #3362
If we short-circuit the boolean evaluation semantics, do we only want the first conjunct to be considered? Is it useful to guarantee that if either conjunct has already evaluated to `false` then the entire conjunction evaluates to `false`. For example, should we have the same short-circuited behavior for `if(("x".get(0)) and false) {}`?

[2021-05-29 11:23] tgrospic commented on #3362
@Isaac-DeFrain I'd expect that conjunction terms are evaluated sequentially and short-circuit to happen after the first which makes the entire conjunction final. Do you have example of a language where this is different?

What immediately comes to mind is a more complex example. I think it would be difficult from a user perspective to always be sure what will be evaluated or what is already evalua

[2021-05-29 23:58] Isaac-DeFrain commented on #3362
That's a fair point. While I'm not aware of any languages with the short-circuit evaluation I asked about, Rholang is not like any other language I've used so it doesn't seem entirely unreasonable for it to have a different evaluation strategy.

[2021-06-02 13:34] #3334 closed, assigned to zsluedem

[2021-06-07 10:43] nzpr commented on #3349
I cannot reproduce this with new merging logic in `deploy-merge` feature branch 59f787d050219213ef2d8cd398dd87ebe1a1eff8 so closing this issue

[2021-06-11 08:16] tgrospic commented on #3150
Closing this issue because block is extended with rejection field.

There is new related new issue to change rejection field to be a flag #3372.

[2021-06-11 08:16] #3150 closed, assigned to zsluedem

[2021-06-11 09:44] nzpr commented on #3350
New version of finalizer https://github.com/rchain/rchain/pull/3388 makes sure that finalized block is defined only by latest messages. So merging scope is defined by latest messages. This covers part of the issue.
Remaining part is to not have last finalized blocks persisted and treated as a mutable value but to compute it each time casper shapshot is created (for validation or block creation pur

[2021-06-11 10:24] zsluedem commented on #3349
https://github.com/rchain/rchain/runs/2801580638?check_suite_focus=true
reopen this issue because of the action above

The test action is based on dev. Maybe the bug is fixed in deploymerge branch. @nzpr

[2021-06-11 10:36] nzpr commented on #3349
@zsluedem yes, dev branch has initial implementation of block merge, which has this issue. It should not be present in `feature/deploymerge`

[2021-06-11 11:33] tgrospic commented on #3350
We can extend BlockMetaData with finalized flag and have this info for every block. Also I think we need info if block is directly or indirectly finalized for easier view on merging scopes and rejected deploys.

[2021-06-11 15:13] #2981 closed, assigned to zsluedem

[2021-06-12 06:01] #3290 closed, assigned to nobody

[2021-06-12 07:55] zsluedem opened #3432 "Implement traverse method in rholang treeHashMap which returns all the keys and values"
## Overview

Currently the [holang treeHashMap](https://github.com/rchain/rchain/blob/9899c89b91f81ddc126545ee3c805ba4f90fdb08/casper/src/main/resources/Registry.rho) got `set`, `contains`, `get`, `fastUnsafeGet`, `update` for basic operation in treeHashMap.

We still need a method which return all the key values from the map.

Currently we got a [scala implementation](https://github.com/rchain/rc

[2021-06-15 19:06] tgrospic opened #3438 "Print source position directly as on other places."
## Overview

On error in Rholang code information about source position is printed in format `row:column`. But on this one place position is formatted differently.

https://github.com/rchain/rchain/blob/e29783d2e75c/rholang/src/main/scala/coop/rchain/rholang/interpreter/compiler/normalize.scala#L1034

Error can be reproduced by this Rholang code:
[code]

## Solution

The fix should just print `s"T

[2021-06-18 06:59] nzpr commented on #3349
After this PR https://github.com/rchain/rchain/pull/3444#discussion_r654188163 the bug is observable again

[2021-06-18 07:11] nzpr commented on #3349
Here is some more data for network of 50 validators:
49 blocks are merged into base state, so 49 branches are present and conflicts against combination of then is computed.

Here is size of conflicts for each branch
[code]
As it is shown, some branches conflict with 2 another, some with only one, some does not have conflict with any.

[2021-06-18 07:18] nzpr commented on #3349
Here is some more data for network of 50 validators:

49 blocks are merged into base state, so 49 branches are present and conflicts against combination of then is computed.
Here is size of conflicts with others for each branch
[code]
As it is shown, some branches conflict with 2 another, some with only one, some does not have conflict with any.

[2021-06-18 09:15] nzpr commented on #3349
Conflict rule that is triggered is always the same - race for the same event, particularly for the same Produce.
Given two event logs, produces consumed are calculated in the following way
[code]
so when COMM event is found and its `peeks` field is empty - all produces are recorded as consumed.
The problem that two event logs have the same produce recorded in this set.

[2021-06-18 09:57] nzpr commented on #3349
Looks like it is some problem with how peeks are exposed in COMM events. Here is example of conflict found.
[code]
Which means that some linear produce exists in base state, has been is consumed and the same produce created. Which means it is peek.
But `peeks` field is empty in COMM event.

[2021-06-18 10:54] nzpr commented on #3349
Worth mentioning - that this peek log behaviour is non deterministic, sometimes it misses peek in COMM log field.

[2021-06-18 17:01] nzpr commented on #3349
After talking with @tgrospic intuition developed that this is a legit conflict case due to some buggy/wrong rholang implementation.
Further investigations led to this: for test (https://github.com/rchain/rchain/pull/3445)

the following conflicts map is calculated
CONFLICT MAP (block/block):
[code]
6 block pairs are conflicting

This is data on conflicts
[code]

As it can be seen, conflict frame i

[2021-06-19 09:04] tgrospic commented on #3349
I pushed a commit to #3445 which prints channel @zsluedem suggested and it shows that conflicting channels are indeed TreeHashMap insert nodes.

[tree-hash-map-channels.log](https://github.com/rchain/rchain/files/6680337/tree-hash-map-channels.log)

[2021-06-22 12:29] tgrospic opened #3449 "Error `empty-head` with single parent"
## Overview

In current `feature/deploymerge` branch when using single parent (`--max-number-of-parents 1`) throws following error.

[code]

[2021-06-23 03:56] zsluedem opened #3450 "Rholang TreeHashMap would miss suffix value if "update" function stuck"
https://github.com/rchain/rchain/blob/b90040d0d35f23253e525f1792008df03fcb18dd/casper/src/main/resources/Registry.rho#L283-L294

In line 285, the suffix value would be taken ou. If the `update` doesn't put any new values inside, there would be nothing inside.

### What did you expect to see?
Expect to see the original value in treeHashMap even if  update failed.

### What did you see instead?

All

[2021-06-23 08:57] tgrospic commented on #3450
I'd say this is not a bug in TreeHashMap but in user code which does not updates the value.

But it seems that update can be dangerous in a sense that can block access to a key.

[2021-06-25 07:48] nzpr commented on #3349
Final resolution for this issue is that
https://github.com/rchain/rchain/blob/44eb1194558d97e7dc4b16154af8414e6ff32525/casper/src/main/resources/PoS.rhox#L695 this produce is conflicting, because pending rewards are stored in TreeHashMap with depth = 1, which makes some names storing pending rewards for different pub keys - the same. Issue is renamed.

[2021-06-26 03:34] zsluedem commented on #3450
After discussing with @tgrospic

The fact is that
The `update` API is designed to block other operation(including reading and set) on the same tree node to ensure the atomic operation.

The user must be careful how to use update here.

Another solution is that
[code]

Peek first and update the value after getting the updated value. The disadvantage of this is that if two parallel updates happened

[2021-06-27 03:26] #3450 closed, assigned to nobody

[2021-06-28 19:28] #3449 closed, assigned to nobody

[2021-06-28 19:30] tgrospic commented on #3375
Closing because it seems this is not an issue with RNode. Please reopen if you think otherwise.

[2021-06-28 22:10] dckc commented on #3375
Collapsing all method call errors to a single "Deploy error" diagnostic sure seems like an issue in rnode to me. It makes the dev UX pretty horrible.

[2021-06-29 05:05] zsluedem opened #3456 "Conflict detection and state merging should include system deploy"
## Overview

Currently the conflict detection and state merging is not considering system deploy([closeBlock deploy and slashing deploy](https://github.com/rchain/rchain/blob/43257ddb7b2b53cffb59a5fe1d4c8296c18b8292/models/src/main/protobuf/CasperMessage.proto#L163-L168)).

The precharge and refund system deploy are included in user deploy event logs. So they are well considered.

We should consid

[2021-06-29 06:53] nzpr commented on #3456
Not only conflict detection, but merging as well?

[2021-06-29 09:03] zsluedem commented on #3456
yes. You are right

[2021-06-30 15:15] tgrospic opened #3460 "Change the format of wallets.txt file necessary for Hard Fork 1"
## Overview

Current format of `wallets.txt` file used for initial REV balance on genesis is using ETH address format. That was necessary for transfer of RHOC from Ethereum network to start with REV on RChain network.

ETH addresses are not used anymore so `wallets.txt` file should accept REV address format.

Line format should be:
[code]

Third parameter for the type of address (private key, cont

[2021-06-30 16:50] tgrospic opened #3461 "Fix depth of TreeHashMap used to store rewards in PoS"
## Overview

Testing of block-merge feature revealed conflicts in PoS contract on RChain main net network. The cause is common prefix of validator public keys used to store rewards in PoS. This prevent us to release block-merge feature before [Hard Fork 1](https://github.com/rchain/rchain/milestone/13).

Depth parameter for initialization of TreeHashMap should be increased from 1 to 4 which will m

[2021-06-30 16:55] tgrospic commented on #3349
Closing this issue because new issue is created to track this fix for Hard Fork 1 #3461.

[2021-06-30 16:55] #3349 closed, assigned to nobody

[2021-07-05 22:25] #3438 closed, assigned to nobody

[2021-07-07 16:39] nzpr opened #3469 "InterpreterUtilTest: pass map update test failed"
## Overview
Test randomly failed on CI during one of routine GHA executions on PR https://github.com/rchain/rchain/pull/3468.
It is not connected to changes made in PR, so some nondeterministic bug possible.

[code]

### Impact
Why test failed is not clear, but would be great to have it reproducible,

### Dependencies
-

### Design
-

### Steps to implement the solution
-

### Steps for integratio

[2021-07-09 06:32] zsluedem commented on #3460
@tgrospic We haven't finished this one, right?

[2021-07-09 08:35] tgrospic commented on #3460
Yes, first PR is just for preparation to REV address format in wallets file.

[2021-07-10 08:09] tgrospic opened #3471 "Startup and migration error with v0.11.0-rc1"
## Overview

Testing `v0.11.0-rc1` version revealed errors in startup on test net in the process of getting the Last Finalized State and on main net when node started migration of LFB to DAG storage.

Test net logs:
[test-net-fresh-start-error.log](https://github.com/rchain/rchain/files/6794888/test-net-fresh-start-error.log)

Main net logs:
[main-net-migration-error.log](https://github.com/rchain

[2021-07-10 08:46] nzpr commented on #3471
I believe that error with main net is because of this change
https://github.com/rchain/rchain/blob/a580f8f7210172d1e99c43f6871a44bb20a7576d/block-storage/src/main/scala/coop/rchain/blockstorage/finality/LastFinalizedKeyValueStorage.scala#L61-L66

it gathers edge parents that are not in metadata store. S it should be
[code]

Error on testnet is because approved block is inserted right away here htt

[2021-07-10 08:54] tgrospic commented on #3471
Approved block is not the first block that is part of the LFS state because some amount of older blocks are required for deploy lifetime check.

[2021-07-10 08:57] nzpr commented on #3471
Yes, we add blocks starting from the oldest to newest, I think because it is forced by DagStore.
But we need to insert LFB first because each subsequent DagStore.insert returns DagRepresentation, which requires DagStore to already have some LFB.

[2021-07-10 14:57] #3471 closed, assigned to nzpr

[2021-07-11 08:12] zsluedem commented on #3469
Do you have the ci link?

[2021-07-13 15:44] tgrospic commented on #3461
Bors didn't close the issue with batch merging.

[2021-07-13 15:44] #3461 closed, assigned to nobody

[2021-07-13 15:45] tgrospic commented on #3460
Bors didn't close the issue with batch merging.

[2021-07-13 15:45] #3460 closed, assigned to tgrospic

[2021-07-14 04:48] #3456 closed, assigned to nzpr

[2021-07-16 08:53] tgrospic commented on #3346
Channels map removed in linked PR.

[2021-07-16 08:53] #3346 closed, assigned to nzpr, tgrospic

[2021-07-16 08:57] tgrospic commented on #3384
As part of removing channels map (#3394, #3474), hashing of channels is unified for event log and storage.

[2021-07-16 08:57] #3384 closed, assigned to tgrospic, zsluedem

[2021-07-17 06:04] jimscarver opened #3479 "sequential processes run out of sequence, peeks doing persistent reads. was code does not run to completion"
I developed a simple message queue publish and subscribe. In a test the execution justs seems to stop randomly

I create a message queue, subscribe to it and publish four items.on it. Whether I explore or deploy I do not get complete output. Normally I receive the first two items, but sometimes just one or three.

[code]
Result
[code]
rnode.log
[code]
### What version of RNode are you using?
versi

[2021-07-17 16:56] jimscarver commented on #3479
noe I see this in the log
[code]
I would guess that's when the rholang execution stops.

[2021-07-17 17:47] jimscarver commented on #3479
I am not seeing that error now.

I added a peek after writes befor returning an ack that the method had completed which seems to make no difference.

I improved the naming and added logging.
[code]
result

  [ "got next", "three" ],
  "litener called for three",
 [
  "three listener",
  "litener called for three",
  [    "got next",    "three"  ],
  {    "log": [
      "one",
      "two",
      "d

[2021-07-18 05:32] zsluedem opened #3483 "Starting node on new hf1 network with lfs would get inconsistent dag error"
docker run command
[code]

After the node finish downloading the state and the approved block, the  node would raise error like below
[code]

[2021-07-18 07:56] nzpr commented on #3483
This is justification regression validation,
https://github.com/rchain/rchain/blob/9b87bc8e3c21e89eeadf0c9a2842cbb3b5030672/casper/src/main/scala/coop/rchain/casper/Validate.scala#L575
It reads block number for justification of previous self message. So given 30 validators in a chain, current justification block number is N-30, and previous one N-60, which is older then 50 blocks we download.
Befo

[2021-07-23 02:24] zsluedem commented on #3479
What did you expect to see in the first example?

[2021-07-23 03:19] zsluedem opened #3487 "Validators can not propose new blocks in 0.99 synchrony constraint network after epoch when a new validator is bonded"
## Overview

Validators can not propose new blocks in 0.99 synchrony constraint network after the epoch change when a new validator is bonded.

This case is now reproduced in https://github.com/rchain/rchain/pull/3457

**From my perspective, this error can be fixed after HF2**.

### Impact

Can not bond new validator in new network.

[2021-07-23 11:17] jimscarver commented on #3479
since we got "three listener" in the result we should have seen "three" 1n log. listener never completed. "four is missing completely as if it just stopped in the middle of three.

the rnode log should have contained.

{ "log": [
"one",
"two",
"three",
"four,
"done"
] },

["sent", "three"]
["sent", "four"]
["got next", "four"]

but it never returned from receive "three"

[2021-07-23 16:07] jimscarver commented on #3479
Here is the code not reusing any return channel.
[code]

##Result:
[
  "three listener started",
  "listener being called for three",
  {
    "log": [
      "one",
      "done",
      "two"
    ]
  },
  "listener returned two",
  "two listener finished",
  "logged: two",
  "logged: done",
  "two listener started",
  "listener being called for two",
  "listener returned one",
  "one listener finish

[2021-07-23 16:37] jimscarver commented on #3479
I commented out the unnecessary peek in log
[code]
The results look the same
[code]

[2021-07-23 23:42] jimscarver commented on #3479
It was suggested that the link structure I use might be the problem.  I created a simple linkedList.rho using the same list structure. It works fine. The listener is implicated.
[code]

[2021-07-24 00:16] jimscarver commented on #3479
I updated the above to include the log method to rule that out as a problem as well.

[2021-07-24 04:35] zsluedem commented on #3180
Is this one resolved?

[2021-07-24 05:51] zsluedem commented on #3266
It would be better that the read-only node  can forward the deploy to validator. In that case the exchange only need observer.

[2021-07-25 14:56] jimscarver commented on #3479
I simplified mq.rho down to basics and still the listener is sent the next but is not run after one two or three pubs.
[code]
result:
[code]

[2021-07-26 01:50] zsluedem opened #3490 "Remove old python typed transaction store and rewrite rev vault export"
## Overview

The rev vault export for HF1 is using [python transaction server](https://github.com/zsluedem/transaction-server) to do that. But after https://github.com/rchain/rchain/pull/3433, the node would gain the ability like transaction server but even better than transaction server.

After 3433 is merged, we would remove the old rev vault transaction export (including transaction store and e

[2021-07-26 02:06] jimscarver commented on #3479
I added subscribe and listen to the simple linked list. When I subscribe before making the list 6 to 9 of the 10 elements are received. Subscribing after I only receive the first..
[code]
result for subscribe after adding to list
[code]
result for subscribe before adding to list
[code]

[2021-07-26 14:56] #3350 closed, assigned to nzpr

[2021-07-26 16:31] tgrospic opened #3491 "Fix history (Trie) and cold store value hash"
## Overview

Rholang state in RNode is stored in a Merkle tree with channels as keys and channel data as values (tuple space).

Merkle tree implementation has two components: History and Cold (leaf) store. History represents the tree structure with hashes on the leaf nodes that points to values in the Cold store.

History key is calculated from the hash value of its children nodes. Cold store key

[2021-07-26 17:11] #3483 closed, assigned to nobody

[2021-07-26 20:10] jimscarver commented on #3479
I updated (fixed) the above simplest case of rholang execution not finishing.

[2021-07-27 12:39] jimscarver commented on #3479
I have a new minimal case showing incomplete execute of rholang code. It randomly executes some of the loop values but not all.
[code]
"testing"
["got next", 1]
"listener called for 1"
"1 listener"
"logged: received: 1"
["listener returned", 1]
["got next", 2]
"listener called for 2"
"2 listener"
"logged: received: 2"
["listener returned", 2]
["got next", 4]
"listener called for 4"
"4 listener"
"l

[2021-07-27 14:30] jimscarver commented on #3479
I coded the log and listener in line and we still hit the bug. Many values are never read. It is a mystery how some values are repeated or out of order in log.
[code]
stdout1
[code]
stdout2
[code]

[2021-07-27 15:17] jimscarver commented on #3479
I see I was halting execuyion by reading the log :(

But there is still the issue of why the results are out of order.
[code]
stdout
[code]

[2021-07-27 16:52] jimscarver commented on #3479
I think we are getting some where.

When I read the value,next in the loop it completes out of order having never returned the logged/prior message but somehow ack is sent.

If I peek at the value,next instead I get an infinite loop.
[code]
logList: [ 1, 6, 8, 5, 3, 2, 7, 9, 10, 4 ]
stdout:
[code]

[2021-07-27 17:05] jimscarver commented on #3479
using peek for the value,next in the loop above starts an infinite loop repeating
...
["log returned", 9]
"log called for 2"
["log returned", 2]
"log called for 8"
["log returned", 8]
"log called for 4"
["log returned", 4]
...
somehow it never sent logged:prior: to result but got an ack from somewhere?

[2021-07-28 20:01] tgrospic opened #3495 "Implement `getBlock` by hash via DAG representation (dagSet)."
## Overview

Currently we iterate over all records when block hash is searched with prefix (`BlockStore#find`). This is slow because hashes are read from LMDB database via BlockStore implementation.

We have in `DagBlockRepresentation` all block hashes in memory to do the same operation much much faster.

## Solution

Implement search for a block with block hash prefix with `BlockDagRepresentation

[2021-07-30 18:20] jimscarver commented on #3479
My bug was sending two arguments to stdout But the issues remain of how the sequential processes ran out of order and why peeks ran persistently, looping forever.

[2021-07-30 19:43] jimscarver commented on #3479
mq.rho now seems to be working correctly to completion. It is not looping on peeks to the next link. Multiple subscriptions even seem to work correctly. https://gist.github.com/jimscarver/9c400f78d40fe647a0bdc728365d0e66

[2021-08-08 07:53] nzpr opened #3501 "Refund time rises with number of bonded validators"
## Overview
Profiling of state transitions having a single REV transfer revealed that increasing number of validators bonded in genesis increases execution time. It turned out that the root cause of the problem is refund, it generates more events.
PTAL at the following data for more details. As it can be seen, `rchain.casper.rho-runtime.refund` is rising. Precharge is rising as well but not drasti

[2021-08-09 01:58] zsluedem commented on #3501
https://github.com/rchain/rchain/blob/dev/casper/src/main/resources/PoS.rhox#L295-L300 This should be the cause

[2021-08-09 08:50] tgrospic commented on #3501
I'm planning to remove this code completely and calculate rewards only on epoch change once and not for every deploy #3492.

[2021-08-10 06:40] zsluedem commented on #3126
Close it because it is more like a question and it is answered.

[2021-08-10 06:40] #3126 closed, assigned to nobody

[2021-08-10 07:45] #3491 closed, assigned to zsluedem

[2021-08-31 09:28] tgrospic opened #3513 "REV vaults (number channel) merging"
## Overview

PoS (Proof of Stake contract) needs to collect validator rewards in PoS vault. If PoS vault is used directly in each block it will create conflict when merging blocks. In attempt to resolve this current implementation of PoS creates REV vault for each active validator (per validator vaults).
This is not enough when multiple blocks are created by the same validator in which case mergin

[2021-09-13 16:28] tgrospic opened #3514 "Modify PoS contract to use single PoS address to collect rewards"
## Overview

The capability to merge special number channels (#3513) gives a way to improve the operations of REV vaults. Transactions that includes the same source or target REV address can be executed in parallel and inside merged block balance will be recalculated.

This is important for [PoS contract](https://github.com/rchain/rchain/blob/3371c8a400f4b82a7af833f25b9a0b6fc71709db/casper/src/mai

[2021-10-11 10:45] tgrospic opened #3518 "Reverse proxy with RNode API (gRPC/HTTP, TLS)"
## Overview

The purpose of this issue is to document the current state of gRPC/HTTP API and testing with reverse proxy. Using nginx proxy for **HTTP** (external 40403, admin 40405) and **non protocol ports** (external 40401, admin 40402) works without problems as with any web exposed application.

The problem starts with **protocol** (40400) and **discovery** (40404) ports which are used as part

[2021-10-14 09:25] tgrospic commented on #3518
@pyrocto and @sebtomba would you be so kind to provide some insight on this topic. Most importantly what are security concerns that the current solution is resolving. Thanks!

[2021-10-14 11:20] sebtomba commented on #3518
@tgrospic Blockchain networking usually consists of two parts:
- Node discovery (over TCP or UDP)
- Exchange of messages over a secure channel (duplex TCP or HTTP)

RChain uses gRPC for both parts, and TLS secures the exchange of messages. Node discovery uses AFAIK unsecured gRPC. To prevent man in the middle attacks, the public key of the TLS certificate is used as the node identifier. This is su

[2021-10-14 19:38] tgrospic commented on #3518
@sebtomba Thanks for super quick response!

Is there a reason to do this *manually* inside the node and not in a more standard way with the use of reverse proxy for gRPC/HTTP endpoints?

With reverse proxy TLS tunnel is created between nodes which can prevent MITM attacks to tamper or eavesdropping exchanged data. Also makes it possible to use nodes in containerized environment like Kubernetes.

[2021-10-15 07:34] sebtomba commented on #3518
@tgrospic The main reason for doing TLS on the node with a self-signed (autogenerated) certificate was to allow normal people to participate in the network and run an RChain node anywhere, f.e. on their home computer. Or to rent a virtual server somewhere and run the node there without acquiring a TLS domain certificate. However, if you want to use containerization infrastructure with reverse prox

[2021-10-16 02:24] gsj5 opened #3519 "llbm: "NumberChannel must have singleton value" exception after REV transfer deploy"
testllbm validator nodes(`nuttzipper/rnode:llbm 0.12.1-109-g7c11a2b (7c11a2b9b77c63a7333499cfd6d6e06aa3f77881)` exit with below exception when a REV transfer is deployed.  Exception surfaces after the node has processed few blocks(~5-30), after the deploy was initially received.   REV is transferred to `revAddrTo` address as expected.
[code]

In following instance, REV transfer was initiated via T

[2021-10-18 07:45] tgrospic commented on #3518
@sebtomba OK, I can see the motivation. Maybe with Let's Encrypt service this can be simplified as part of the basic configuration of the node.

But what is still not not clear to me is how self signing certificate can offer protection. The agent in the middle can re-create its own self signed certificates for both parties and spoof intercepted messages.

[2021-10-18 09:12] sebtomba commented on #3518
@tgrospic Please assume we have three nodes `A`, `B`, and `C`. `C` is an adversary node. Each node is identified by the public key of their self-signed X.509 certificate. The nodes exchange messages, which contain a header and a body. The header has a field `sender.id`, which is the sender's node-id. The node-id **must** match the public key of the X.509 certificate. This is checked by the `SslSes

[2021-10-18 19:29] tgrospic commented on #3518
@sebtomba I need to investigate this further because I don't understand why `C` cannot fake both self-signed certificate and also sender ID in the header.
This diagram describes what I'm thinking. With trusted certificate sender don't have to be in the header because `A` will not be able to establish secure connection to `B` if request is tampered, and vice versa from `B` to `A` (I assume `A` and

[2021-10-18 19:48] tgrospic commented on #3495
@ian-bloom Please add @stanislavlyalin to the repo with the same permissions as @hilltracer.

[2021-10-22 03:12] zsluedem opened #3522 "Casper tests re-work target."
## Overview

##### Term explaination

**Necessary** -> High priority and important from Will's perspective
**Optional** -> Low priority from Will's perspective
**No need** -> Can be removed directly or moved to somewhere from Will's perspective
**Not sure** -> Not sure from Will's perspective

### Current in casper 2
1. [SafetyOracle](https://github.com/rchain/rchain/blob/0f96cde5a7c4dfa9f03707679

[2021-10-22 17:41] tgrospic commented on #3518
Thanks @sebtomba for taking the time to give us info on this topic. Cheers!

[2021-11-05 17:15] tgrospic commented on #3317
@stanislavlyalin To resolve this issue we need to recognize if Rholang process is wrapped in a _bundle_ and in conversion to JSON just return what is inside. I don't think it's necessary to support special JSON notiation for bundles.

So output for `bundle0{*x}` will be the same as just `*x`.

What we need to change is Rholang protobuf type to `RhoExpr` converter.
https://github.com/rchain/rchain/

[2021-11-08 17:59] #3490 closed, assigned to zsluedem

[2021-11-09 09:52] tgrospic commented on #3495
With the change in #3521 performance of getting block with hash prefix is much faster but one problem is introduced.

Hash prefix supplied as an argument can be invalid hash specified with only 4-bit so comparison of bytes can wrongly return incorrect result.

E.g. on test net this query will not return results.
https://observer.testnet.rchain.coop/api/block/589f941
`Error: Failure to find block w

[2021-11-19 19:23] #3495 closed, assigned to stanislavlyalin

[2021-11-22 07:49] #3317 closed, assigned to stanislavlyalin, tgrospic

[2021-11-22 15:37] tgrospic opened #3532 "Add network-id and shard name to API response"
## Overview

Configuration parameters `network-id`  and `shard-name` (`shardId` in a block) are necessary to configure the node correctly and connect to a network.

These parameters are not directly exposed to API so it's difficult to find out what they are when configuring the node and connecting to an existing network. To get the shard name, `/api/blocks` method can be used to read `shardId` fro

[2021-11-25 10:00] tgrospic opened #3533 "Change History reset method to return value in F"
## Overview

New implementation of History requires for instance to be created in `F` type.

## Solution

Change History interface `reset` method.

https://github.com/rchain/rchain/blob/01c4a1e6d24fe0813377dabbe8031a806e5deeb6/rspace/src/main/scala/coop/rchain/rspace/history/History.scala#L36

Instead it should return `F[History[F]]`.

[code]

### Steps to implement the solution

This change shoul

[2021-11-25 10:46] tgrospic opened #3534 "Fix MacOS installation with Homebrew"
## Overview

The instructions for the MacOS installation of RNode specifed in the [README.md](https://github.com/rchain/rchain/blob/89d14f11537506bbf40eb8c07786c21ec98111b4/README.md?plain=1#L38-L41) file are not working.

[code]

Looking at the history of issues and PRs, support does not seem to be complete.

- Added `macos_install.sh` script to install Homebrew and libsodium
  #1084
- Removed `m

[2021-11-25 10:47] tgrospic commented on #3534
@ian-bloom Please create a fork of `homebrew-rchain` repo as specified in the description.

[2021-11-25 13:52] ian-bloom commented on #3534
@tgrospic `homebrew-rchain` fork has been created within github/rchain  ✓

[2021-11-25 16:32] tgrospic commented on #3534
@ian-bloom It seems that we already have `homebrew-rchain` which I didn't see the first time I was looking.
![image](https://user-images.githubusercontent.com/5306205/143475995-de924e14-179c-4a64-a648-0bcbad9ab6bb.png)

Can you please rename these repos:
- `homebrew-rchain` => `homebrew-rchain-old` (we will delete it later)
- `homebrew-rchain-1` => `homebrew-rchain` (seems this is the initial sour

[2021-11-25 17:57] ian-bloom commented on #3534
@tgrospic No trouble.. The repos have been renamed.
- `homebrew-rchain` => `homebrew-rchain-old` ✓
- `homebrew-rchain-1` => `homebrew-rchain` ✓

[2021-11-26 06:11] zsluedem commented on #2974
create a new issue to address this.

[2021-11-26 06:11] #2974 closed, assigned to nobody

[2021-11-26 06:30] zsluedem opened #3536 "Use another DSL package for http API"
## Overview

In https://github.com/rchain/rchain/issues/2974 and https://github.com/rchain/rchain/pull/3128, we explore to use another [scala http DSL package](https://github.com/http4s/rho) which would generate open API automatically for http API.

However, we got [some problems](https://github.com/rchain/rchain/pull/3128#pullrequestreview-518783753) to generate the open API correctly.

This is t

[2021-11-26 06:53] zsluedem opened #3537 "Implement new findDeploy API method"
## Overview

Current **limitation** of `/api/deploy/{deployId}` API
1. You can not know whether the deploy is received by the validator if there are some network hiccups happen in sending deploy.
2. You can not know why your deploy is not packed in a block even the sending process is successfully.(valid after block number is not valid)

In short, users find no way to know the real status of a depl

[2021-11-26 08:03] zsluedem opened #3538 "Implement replace API for listenForDataAtName"
## Overview

**Current shortcoming of `listenForDataAtName`**

When users try to request `listenForDataAtName` API, the node would traverse blocks based on the request param `depth` which is very low efficiency and waste.  Because it requires traversal through blocks _depth_ is limited to only 3 blocks by default to prevent attacking the node in this way.

We want to remove this API and provide im

[2021-11-26 08:15] zsluedem opened #3539 "[Draft] Implement API to retrieve peer table"
## Overview

Currently, we can use `/metrics` to know how many peers the node finds while we can not know what are those peers.

We can expose the peer tables to an API and users can easily check that.

### Impact

### Dependencies

TBD.

### Design

TBD.

### Steps to implement the solution

### Steps for integration testing

### Resource estimation

[2021-11-26 08:38] tgrospic opened #3540 "Update Rholang 1.1 branch with latest dev and publish pre-release"
## Overview

We want to publish Rholang 1.1 feature as a pre-release version of the RNode and based on the latest release (now v0.12.4).

## Solution

- [x] Sync [feature/rholang-1.1](https://github.com/rchain/rchain/tree/feature/rholang-1.1) branch with changes from `dev` branch
  - create a PR with `feature/rholang-1.1` as the base and run `git merge dev`
- [x] Publish pre-release (special build

[2021-11-26 08:55] zsluedem opened #3541 "Implement gRPC server errors with builtin error handling"
## Overview

Currently, the gRPC API return with the same kind of pattern
https://github.com/rchain/rchain/blob/dev/models/src/main/protobuf/DeployServiceV1.proto#L65-L125 with Error String.

This is actually a bad format of error type for user perspective. We need to implement a new way to define error for gRPC API. Hopefully gRPC should be similar with HTTP.

### gRPC Error handling
https://www.

[2021-11-26 08:56] zsluedem opened #3542 "Develop new version of API (v2)"
## Overview

Currently RNode API provides gRPC and HTTP protocol access. gRPC offers complete functionality and HTTP has main support for deploy and propose. The goal of the new `v2` is to provide more unified interface and improve user experience.

This issue here is aimed to gathering the information about implementing the new API.

- [x] #3532
  - #3543
- [x] #3538
  - #3544
  - #3584
  - #3592

[2021-11-27 12:28] tgrospic commented on #3501
With the merging of REV vaults #3513, PoS will use single address for accumulating rewards so this issue is not relevant anymore.

[2021-11-27 12:28] #3501 closed, assigned to nobody

[2021-11-29 15:55] tgrospic opened #3547 "Validate shard name when approved block is received"
## Overview

When node is first time connected to bootstrap node to download LFS state, it will download _approved_ block first.

We need to add a check that `shardId` of a received block and configuration parameter `shard-name` are equal meaning they are part of the same shard.

Network-id is already validated as part of lower level protocol code.
https://github.com/rchain/rchain/blob/7de591c89dc

[2021-11-30 06:50] tgrospic opened #3548 "Add no-box option to routing protobuf definition"
## Overview

Protobuf definition for routing protocol (routing.proto) contains generated Scala code with fields as `Option` types.

When protobuf defined types have fields with complex types, generated Scala classes contains these fields wrapped in `Option` type by default. This is not convenient, doesn't help and just requires on every use to handle partial values.

## Solution

Add `no-box` opti

[2021-12-02 18:25] stanislavlyalin commented on #3518
I tried to connect my locally runned RNode to test net. I configured my router to bind internal IP (can be got with `hostname -I` command) with external IP (can be found in router settings or with command `curl https://ipinfo.io/ip`). When I run RNode I should provide `--host` parameter with external IP to allow bootstrap node send data to my node. But also I need ability to run RNode with my inte

[2021-12-03 05:53] #3532 closed, assigned to stanislavlyalin

[2021-12-03 12:40] #3547 closed, assigned to stanislavlyalin

[2021-12-05 11:05] stanislavlyalin commented on #3548
@tgrospic, a few questions:
1. should `no_box` option be added only in [routing.proto](https://github.com/rchain/rchain/blob/382576eb9030c7a03fdff0d75a8a2a41e80dc378/models/src/main/protobuf/routing.proto) file?
2. is it possible to add `no_box` option for complex types inside `oneof` section? I found that it leads to errors in generated code.
3. adding `no_box` option to field `ChunkHeader.sender

[2021-12-06 10:20] tgrospic commented on #3548
1. Yes, only in routing.proto file
2. Fields defined with `oneof` are not wrapped in Option type so no action there is necessary
3. This test can be deleted because there is no optional values
4. Yes, we want to remove checking of optional values

[2021-12-07 07:58] tgrospic opened #3553 "Cleanup HotStore in-memory implementation"
## Overview

HotStore is fixed for race condition causing hash mismatch error in PR #3526. Part of the code can be simplified and be written in more functional style.

## Cleanup HotStore and related tests

- [x] Remove unnecessary parentheses and braces
  - when using higher-order functions (functions as arguments)
    e.g. `f(x => {...})` -> `f { x => ...}`
  - when functions return F values
  -

[2021-12-08 04:01] #3548 closed, assigned to stanislavlyalin

[2021-12-08 06:26] zsluedem commented on #3487
Not needed any more based on current consensus spec

[2021-12-08 06:26] #3487 closed, assigned to nobody

[2021-12-08 06:28] #3296 closed, assigned to nobody

[2021-12-08 06:29] #3256 closed, assigned to nobody

[2021-12-08 17:08] stanislavlyalin commented on #3553
@tgrospic, please explain what do you mean `Remove unnecessary parentheses and braces...when functions return F values...wrapping single values`? Can you provide an examples? (probably outdated after fixing IDE warnings. Please see [linked PR](https://github.com/rchain/rchain/pull/3557)).

Do you mean to remove using `zip` function?

Little bit more explanation please

[2021-12-10 09:22] tgrospic commented on #3553
When we have functions defined like this:
[code]
it can be rewritten as:
[code]
because F[_] is treated as value and it will be evaluated _lazily_.

Yes, it can be rewritten with functions already defined on a Map and with the same amount of code.

Instead of case analysis on the underlying type (knowing and have access to constructors) we want whenever is possible to use defined functions which d

[2021-12-10 15:17] tgrospic commented on #3533
Finished!

[2021-12-10 15:17] #3533 closed, assigned to tgrospic

[2021-12-10 16:30] tgrospic commented on #3540
Finished!

[2021-12-10 16:30] #3540 closed, assigned to tgrospic

[2021-12-13 09:29] tgrospic opened #3562 "Create repl client for CLI on internal port 40402"
## Overview

Using RNode CLI to call gRPC methods of running instance of RNode doesn't correspond to default ports for _repl_ and _eval_ calls.

For example if RNode is running with default ports, gRPC Repl service is exposed on private port 40402 and repl client created by CLI methods _repl_ and _eval_ is created with default port 40401.
This means that the user of CLI is forced to always set gRP

[2021-12-16 16:07] tgrospic opened #3566 "Issue with Rholang types and default values serialized with protobuf v3"
## Overview

Protobuf specification version 3 doesn't serialize primitive types if they are equal to default values (defined by proto spec).
https://developers.google.com/protocol-buffers/docs/proto3#default

When decoded, _missing_ fields are set to default values.

## Problem

This is a problem for gRPC API when returned type is [Par](https://github.com/rchain/rchain/blob/382576eb9030c7a03fdff0d

[2021-12-21 10:12] tgrospic opened #3567 "Refactor Graphz to use Ref instead of MonadState"
## Overview

Exporter of the DAG to visual representation uses Graphviz format which is implemented in `graphz` project. `GraphGenerator` uses graphz to generate textual representation from BlockDagRepresentation object and with some additional loading from BlockStorage.

## Problem

There are unnecessary complications and strange types defined (like `DagInfo[G[_]]` which is not using `G`, or `F[G

[2021-12-24 15:06] #3562 closed, assigned to stanislavlyalin

[2021-12-25 06:19] #3314 closed, assigned to stanislavlyalin

[2021-12-27 06:43] zsluedem opened #3571 "Add genesis-pos-vault-pub-key parameter in genesis config."
## Overview

After https://github.com/rchain/rchain/pull/3559, the node still needs a genesis parameter to config the pubkey.

### Impact

In genesis, we need to config this parameter.

### Dependencies

### Design

1. add one more `genesis-pos-vault-pubkey`(maybe some other names) to https://github.com/rchain/rchain/blob/11d7d732e70d42cc273613a6cefd24467d46930c/node/src/main/resources/defaults.co

[2021-12-27 08:26] zsluedem opened #3572 "Unbond after epoch would cause BlockDagInconsistencyError in HF2 branch"
## Overview

In 3 nodes network v1, v2, v3, v1 deploy `unbond` contract to the network and the whole network reach to epoch. After the epoch, v1 is successfully out of `activeValidators` but **v2 and v3** can not propose a block because of the error below.

[code]

The `64916d025f` is proposed by v1 before epoch change and `v2` and `v3` did get the block.

[2021-12-27 08:33] zsluedem commented on #3572
https://github.com/rchain/rchain/runs/4640542437?check_suite_focus=true
failing example

[2021-12-27 08:48] zsluedem opened #3573 "Use exploreDeploy in the integration tests instead of log matching in getting the balance"
## Overview

### Impact

https://github.com/rchain/rchain/blob/dev/integration-tests/test/test_wallets.py#L63-L74

Currently , we need to deploy a block and match the log to get the balance of the vault . This method is obsolete and slow.

We need a method like

https://github.com/rchain/pyrchain/blob/master/examples/vault_example.py#L23-L27

which is easy and fast.

We should replace all the obso

[2021-12-27 15:02] zsluedem commented on #3538
Finish the first step https://github.com/rchain/rchain/pull/3544

[2021-12-31 08:37] zsluedem opened #3575 "Implement the safe way to tag mergeable number channels"
## Overview

@tgrospic introduce a new way to resolving conflicts with mergeable channels on numbers in https://github.com/rchain/rchain/pull/3492. But currently the codes is using a "__MERGEABLE__" string to
tag these mergeable channels which is not safe at all

The issue is intended to explore a proper way to fix that.

1. replace __MERGEABLE__ with an unforgeable name
2. add config for mergeabl

[2022-01-10 17:22] stanislavlyalin commented on #3266
This first part made in [PR #3578](https://github.com/rchain/rchain/pull/3578)

[2022-01-13 04:27] #3266 closed, assigned to nobody

[2022-01-13 21:28] tgrospic opened #3580 "Add support to enable/disable cost accounting via configuration"
## Overview

Currently cost accounting for Rholang execution is enabled by default which is required for public blockchain networks. When running private networks and to increase performance cost accounting can be disabled.

The most flexible solution would be if cost accounting can be controllable via configuration parameter.

## Solution

Create HOCON and CLI parameter to disable cost accounting

[2022-01-14 10:01] hilltracer opened #3581 "External readCache for RadixHistory"
## Overview
Currently, [class RadixHistory](https://github.com/rchain/rchain/blob/452d7d0304b54b7db20a71617d654e18ae828944/rspace/src/main/scala/coop/rchain/rspace/history/instances/RadixHistory.scala#L30) using only internal caches:
- [write cache](https://github.com/rchain/rchain/blob/d6d462636114ed20e450f8c0f129b50ef779e8e1/rspace/src/main/scala/coop/rchain/rspace/history/RadixTree.scala#L499)

[2022-01-14 10:12] hilltracer commented on #3581
#3568

[2022-01-20 04:29] CowSmiles opened #3583 "The valid values of type Integer in Rholang"
### What did you expect to see?
In Rholang, the integer is int64. So I thought the valid values of int is: [-2^63, 2^63-1]，which is [-9223372036854775808, 9223372036854775807].

### What did you see instead?
But in rholang code, when I ouput -9223372036854775808, it will report:
[code]
but **-9223372036854775807 - 1** produce -9223372036854775808. So it is strange, maybe the problem occur at the p

[2022-01-20 06:17] zsluedem commented on #3583
"-9223372036854775807 - 1" is `String` not `Int`.

The numeric range of int in Rholang is ~~[-9223372036854775808, 9223372036854775807]~~ [-9223372036854775807, 9223372036854775807]

[2022-01-20 06:46] zsluedem commented on #3583
Well.I think you are right there is something wrong with parsing(saying normalizing in rholang is more correct).

The minimum of integer in rholang is `-9223372036854775807`.

For number like `-9223372036854775808` , rholang parser would parse this number by splitting it into `-` and `9223372036854775808`. And the parser consider `9223372036854775808` is Long(Long in scala same like int64) while t

[2022-01-20 07:18] CowSmiles commented on #3583
Thanks, I just thought is was a little confused. It's not a big deal.

[2022-01-20 07:18] #3583 closed, assigned to nobody

[2022-01-20 08:59] tgrospic commented on #3519
@nzpr Is this bug still relevant?

[2022-01-20 09:27] tgrospic commented on #3469
Exactly the same error output would be in case of tuple space hash mismatch error. We will see if it happens again with the fix #3526.

[2022-01-20 09:29] tgrospic commented on #3357
@nzpr Is this still a thing?

[2022-01-20 09:34] tgrospic commented on #3083
@9rb, @zsluedem Is this still a relevant issue?

[2022-01-20 09:36] tgrospic commented on #3058
@nzpr Is this still relevant?

[2022-01-20 09:45] tgrospic commented on #3320
Closing this issue as duplicate of
- #3118.

[2022-01-20 09:45] #3320 closed, assigned to nobody

[2022-01-20 10:53] nzpr commented on #3058
No, we won't have main parent so not relevant, let me close.

[2022-01-20 10:53] #3058 closed, assigned to nzpr

[2022-01-20 10:56] nzpr commented on #3357
Yes, I seen this, it's quite rare but happens. I seen no evidence that it influences the behaviour of the node though.

[2022-01-20 10:57] nzpr commented on #3519
No, let me close this

[2022-01-20 10:57] #3519 closed, assigned to nzpr, tgrospic

[2022-01-21 01:48] zsluedem commented on #3083
I am not sure actually. @9rb do you have any ideas?

[2022-01-21 02:43] zsluedem opened #3585 "[DRAFT] Improve RNode event system"
## Overview

Currently, rnode got an event system but provides a very limited function on it and it is not a well-tested feature. Ideally, the event system would provide easy function to websocket, grpc streaming endpoint.

Currently, it only provides [3 kinds of events](https://github.com/rchain/rchain/blob/dev/shared/src/main/scala/coop/rchain/shared/RChainEvent.scala#L7-L25) in the system.
1. B

[2022-01-21 08:02] tgrospic commented on #3585
@zsluedem Definition of events should not be connected to any specific protocol (WS, HTTP, gRPC, ...).

[2022-01-21 08:20] zsluedem commented on #3585
Feel free to modify anything in the issue. :)

[2022-01-21 16:02] dckc commented on #3585
I think Rholang Vm events is what I am most interested in. I want to be able to do listenForDataAtName without polling. Being able to do deploy on the same connection would be nice but is probably not essential.

I suppose gRPC streaming is pretty close to what I want, but websockets is a little easier to deal with.

[2022-01-24 11:58] tgrospic commented on #3585
@dckc For the purpose of getting data after deploy there is no need to have specialized _push_ for data at name. The data is available when next block is created and with _block created_ event user can be triggered on this event and create a request to get the data.

Although we already have WS with block created event is useless because user doesn't have a way to be sure if he missed an event if

[2022-01-24 16:56] dckc commented on #3585
Ah. _Block created_ does seem to address my needs. If you have an example using it from JS, that would be particularly helpful.

[2022-01-25 22:33] hilltracer opened #3587 "Creating a test specification for RadixTree implementation"
## Overview
Now the project has unit [tests](https://github.com/rchain/rchain/blob/859ae7cc4523f2f6d0b33fca21ff3d0ec3462b49/rspace/src/test/scala/coop/rchain/rspace/history/HistoryActionTests.scala#L19-L23) for the basic functions of the history [trait](https://github.com/rchain/rchain/blob/859ae7cc4523f2f6d0b33fca21ff3d0ec3462b49/rspace/src/main/scala/coop/rchain/rspace/history/History.scala#L23)

[2022-01-26 09:21] hilltracer opened #3588 "Creating a specification for a RadixTree"
## Overview
This description is useful for better understanding how the [new implementation](https://github.com/rchain/rchain/blob/859ae7cc4523f2f6d0b33fca21ff3d0ec3462b49/rspace/src/main/scala/coop/rchain/rspace/history/RadixTree.scala#L15) of History works. Also, the document is required if we will implement RadixTree in other programming languages or hardware devices.

### Design

The document

[2022-01-26 10:07] hilltracer opened #3589 "RadixHistory (future work)"
## Overview
Now we have an [implementation](https://github.com/rchain/rchain/blob/859ae7cc4523f2f6d0b33fca21ff3d0ec3462b49/rspace/src/main/scala/coop/rchain/rspace/history/instances/RadixHistory.scala#L30), [Unit tests](https://github.com/rchain/rchain/blob/859ae7cc4523f2f6d0b33fca21ff3d0ec3462b49/rspace/src/test/scala/coop/rchain/rspace/history/HistoryActionTests.scala#L19), [code for testing per

[2022-01-26 10:15] tgrospic commented on #3589
@hilltracer Why _Adding 1 byte to hold the version in each Node during serialization._ is required?

[2022-01-26 10:19] hilltracer commented on #3589
@tgrospic Because it will allow us to make further changes to the implementation. Otherwise, we will have to recalculate hashes and hard fork every time we change the data format.

[2022-01-26 10:24] hilltracer commented on #3589
@tgrospic For example, if we want to add a field to our nodes to resolve collisions in KVDB. We could use one bit from this byte. It's just one byte for all 256 items in the node, it's a small overhead.

[2022-01-26 11:34] tgrospic commented on #3589
We were discussing about collision solution and I don't think changing node structure should be right approach.

Please add this as a suggestion for future work. It will be part of [RCHIP](https://github.com/rchain/rchip-proposals) process where specification will be added also.

We need to be clear what is really necessary for HF2 and what can be done later. E.g. improving cache is also something

[2022-01-26 11:46] tgrospic commented on #3589
@hilltracer Radix tree types (Node, Leaf) is not what I meant to rewrite in tagless-final style, it's the structure used in implementation like ByteVector or Array[Byte] with operations like head, tail or index access. The purpose is to abstract these operations and make the code easier to translate in other languages or check behavior with different structures.

NOTE: It seems that extra line for

[2022-02-08 17:40] hilltracer opened #3596 "Performance measurements of Radix History"
## Overview

RSpace data is stored as a collection of key-value pairs (tuple space). For each distinct state of this collection we should be able to calculate a hash to uniquely define it and to provide a way to verify the integrity of the data.

Implementation of *Merkle-Patricia Trie* is used for this purpose in RNode (currently v0.10.2) written in class. It's implementation of `History` interfa

[2022-02-09 07:56] #3538 closed, assigned to stanislavlyalin

[2022-02-09 09:32] #3567 closed, assigned to stanislavlyalin

[2022-02-13 14:36] SivkovAV commented on #3581
Current implementation is here:
https://github.com/SivkovAV/rchain/tree/cached-radix-history
Please ignore the messy commit history for now. This will be reworked closer to the completion of the task.

[2022-02-15 19:50] #3553 closed, assigned to stanislavlyalin

[2022-02-17 02:23] #3335 closed, assigned to zsluedem

[2022-02-17 07:29] Prathyushmnchla opened #3604 "Protocol for documentation consistency and establishing hierarchy."
### If this relates to existing RChain documentation, please provide the complete, specific URL and location in the page

### Please describe the problem including, missing, unclear or incorrect documentation

This place isn't easy to find.
https://github.com/rchain/rchain/tree/dev/rholang/reference_doc

There should be a one central repository where documentation is always correct
(or close to be

[2022-02-17 08:18] Prathyushmnchla opened #3605 "Pattern matching documentation needs work."
### Please describe the problem including, missing, unclear or incorrect documentation

Pattern matching is a subtle and powerful aspect of Rholang.
https://github.com/rchain/rchain/tree/dev/rholang/reference_doc/pattern_matching

All cases cannot be argued from what is written in the documentation.

In specific the exact mechanism for binding free valuables in the pattern to process descriptions

[2022-02-18 01:55] zsluedem commented on #3605
@Prathyushmnchla I am pretty sure that
[code]

won't give `Free variable a is used twice as a binder (at 28:5 and 28:14) in process context` because your rholang above doesn't have `28` lines.

Could you please run it again and check?

[2022-02-18 04:52] Prathyushmnchla commented on #3605
I had some bunch on commented code, above that which is why it said 28 lines.

now it says.

`message: "Error: coop.rchain.rholang.interpreter.errors$UnexpectedReuseOfProcContextFree: Free variable a is used twice as a binder (at 4:14 and 4:23) in process context."`

I think the coded behaviour is, variables in patterns don't bind twice.

With the exception that `not` does not bind to patterns, as

[2022-02-18 05:14] Prathyushmnchla commented on #3605
This does not compile and gives an error
[code]
`Error: coop.rchain.rholang.interpreter.errors$TopLevelFreeVariablesNotAllowedError: Top level free variables are not allowed: a at 6:15, b at 7:15.`

while,

[code]

This compiles.

The difference is `{a|b} /\ {6}` is replaced with `{a|b} \/ {6}`

[2022-02-18 07:30] zsluedem commented on #3605
I am curious what you **expected** to see in those two examples.

The error message is not that clear and correct. But I think the compiler is working ok. Could you elaborate more?

[2022-02-18 10:47] Prathyushmnchla commented on #3605
No I am not saying that this is bug. I don't think it is.

But I am just saying it's extremely confusing to understand pattern matching.
The basics are clear but the behavior of weird edge cases mainly.
The documentation should be more clearly specified IMO.
Preferably in the style of a logical algorithmic pathway can be reasoned without any room for ambiguity.

I dunno what to expect. I am trying

[2022-02-19 06:32] Prathyushmnchla commented on #3604
I am gonna use this issue thread for all the documentation fixes needed.

I learnt in a very strange way that integers in Rholang is 64 bit, because I went though the issue log.
Until now I had assumed it was unbounded integers, because it is a functional language.
This should not happen, one of the first things I learn should be underlying integer implementation.

For example.

[Names and process

[2022-02-20 06:16] Prathyushmnchla commented on #3383
I don't want to file a new issue, but we should get to a point where hard forks are not required for protocol upgrade.

Ideally the solution should should look like after block number X do Y.
This definitely a hard problem, but I don't see why it should be impossible, or a potential security threat.

[2022-02-20 08:08] Prathyushmnchla commented on #3604
These are some useful thumb rules for good documentation.

1) There should never be case that a programmer can think of, whose behavior cannot be inferred from the documentation.
2) The programmer should find it easy to know where to look if he looking to understand some behavior.
3) If documented behavior and behavior on machine behavior diverge, then, if the documentation is good, it implies a b

[2022-02-21 03:05] zsluedem commented on #3605
I like your ideas of `all permutations to see what happens`

[2022-02-22 11:34] tgrospic opened #3607 "Improve performance of primitive structures (List, Set, Map)"
## Overview

Basic operation to build primitive structures in Rholang has exponential slowdown in performance. Operations like List concatenation, add elements to a Set or key pairs to a Map.

### Performance measurement

![image](https://user-images.githubusercontent.com/5306205/155124369-3a374249-268a-47ae-82bd-ff10777edff3.png)

| count \ op | sum (base) |   List |    Set |     Map |
|---------

[2022-02-22 16:06] 9rb commented on #3607
Map and Set are obviously the worst offenders. Do we have a way to estimate how **often** we will encounter each of these operations (or a relative magnitude of occurrence), so that we can prioritize efforts towards the ones that will give the most improvement benefit ?

[2022-02-23 09:19] Prathyushmnchla commented on #3607
@tgrospic These are the type of problems I would want to get into.
I know there is a learning barrier I need to cross, but I would be happy to listen in to the discussions until I can get there.

[2022-02-23 09:57] hilltracer commented on #3607
@Prathyushmnchla Great! Let's figure it out together ;-)

[2022-02-23 13:05] tgrospic commented on #3607
Depends on the domain that is modeled in the code. These structures are basic to work with data so it's expected to be used extensively.

Some examples from system contracts.
https://github.com/rchain/rchain/blob/d002b8ff19a262ad1c6b64cb30f6399d18de53ec/casper/src/main/resources/Registry.rho#L169-L170
https://github.com/rchain/rchain/blob/3371c8a400f4b82a7af833f25b9a0b6fc71709db/casper/src/main/re

[2022-02-23 16:39] Prathyushmnchla commented on #3607
Sound good! We can fix a time via discord.

[2022-03-03 08:59] #3536 closed, assigned to tgrospic

[2022-03-05 17:30] #3514 closed, assigned to zsluedem

[2022-03-05 17:30] #3575 closed, assigned to zsluedem

[2022-03-07 08:58] zsluedem commented on #3522
It doesn't seem helpful.

[2022-03-07 08:58] #3522 closed, assigned to nobody

[2022-03-10 02:59] zsluedem opened #3625 "Create pubKey configuration for POS multi-sig wallet"
## Overview

Proof of Stake contract has hard-coded value for multi-sig vault used for slashed stake. Instead of hard-coded public keys and quorum size they should be supplied as configuration parameters when genesis block is created.

Currently rnode use [pureconfig](https://pureconfig.github.io/docs/index.html) to read config.

Pureconfig support `HOCON`, json, java`.properties` format. They all

[2022-03-12 07:37] tgrospic opened #3628 "Add shard ID to deploy data"
## Overview

To prevent replay of deploys between shards we need to add shard identifier to deploy data signed by the deployer.

**NOTE: This change is incompatible with the validator block creation/validation and client libraries/dApps which are using deploys.**

https://github.com/rchain/rchain/blob/93d8907f28506b87306bb16c296d496cd9fe6c7b/models/src/main/protobuf/CasperMessage.proto#L139-L148

[2022-03-12 09:19] zsluedem commented on #3628
Please add rholang version number for future change, too.

[2022-03-13 18:43] tgrospic commented on #3628
@zsluedem Please provide more information how this version will be used.

[2022-03-14 04:26] stanislavlyalin commented on #3628
@tgrospic, is the solution require only adding the field to `DeployDataProto` and updating client libs (pyrchain) or in `DeployData` also and all related changes? Should checking shard ID in replay also be implemented?

[2022-03-14 11:54] tgrospic commented on #3628
@stanislavlyalin I've updated the description. Yes, shardId must be verified.

[2022-03-14 15:20] zsluedem commented on #3628
@tgrospic Oh. Sorry. After some thoughts, I think maybe it make more sense we add it when it is needed.

[2022-03-16 07:07] hilltracer opened #3632 "RSpace Radix tree specification (Rev. 1.0)"
## Overview
RSpace Radix tree is a data structure that stores and links together a set of *N* KV-pairs *(radixKey, radixValue)*: (key0, value0), (key1, value1), ..., (keyN-1, valueN-1). Where: *N* - number of data in the set, *radixKey* - unique identifier of a pair within a set, *radixValue* - data of the KV-pair.

The entire set is uniquely identified using the *rootHash* value, which is calcula

[2022-03-16 20:17] tgrospic opened #3633 "Old blocks requested and dropped repeatedly"
## Overview

Some nodes receive hash of old blocks (probably with getting tips) and after receive the whole block dropped it because it's not necessary.

Tips received.

[code]

Node receiving old block.
[code]

### What version of RNode are you using?

Main net v0.12.4 and v0.12.5

[2022-03-19 14:41] dckc opened #3635 "separate reward address in proof-of-stake bonding method"
**update**: see https://github.com/rchain/rchain/issues/3755

In https://github.com/rchain/rchip-proposals/issues/32#issuecomment-1065842958 @tgrospic writes:

### Security Considerations

After thinking about it for a few days, I don't see that this would introduce any opportunities for misuse.

I suggest that adding a separate reward address is no different from a very normal business arrangemen

[2022-03-23 15:07] stanislavlyalin commented on #3625
@tgrospic, can you provide please where this parameter is used in [PoS.rhox](https://github.com/rchain/rchain/blob/3371c8a400f4b82a7af833f25b9a0b6fc71709db/casper/src/main/resources/PoS.rhox) and what is default value?

How to check the changes in this file works correctly?

[2022-03-23 15:36] zsluedem commented on #3625
It is in the `4` item of `Design`.

[2022-03-23 17:06] stanislavlyalin commented on #3625
In the 4 item of design described just public keys, not quorum.

[2022-03-23 18:43] tgrospic commented on #3625
This is the whole configuration of multi-sig vault. Two array arguments are public keys and unforgeable names and after that is the number which represents the quorum size.
https://github.com/rchain/rchain/blob/3371c8a400f4b82a7af833f25b9a0b6fc71709db/casper/src/main/resources/PoS.rhox#L81-L91

[2022-03-25 07:34] tgrospic opened #3642 "RPC release for main net launch"
## Overview

**RPC release: [v0.12.5+rpc](https://github.com/rchain/rchain/releases/tag/v0.12.5%2Brpc)**
**Docker image: [`rchain/rnode:v0.12.5__rpc`](https://hub.docker.com/layers/rnode/rchain/rnode/v0.12.5__rpc/images/sha256-88c8388413c785b6b7fd5fe9299179822c22e9cab24492c4279e2f1631b1fc60?context=explore)**

RPC main net will be launched with [v0.12.5+rpc](https://github.com/rchain/rchain/releas

[2022-03-28 04:15] #3628 closed, assigned to stanislavlyalin

[2022-03-28 16:13] tgrospic opened #3647 "Multi-sig contract not working with public keys"
### What did you expect to see?

When multi-sig contract is created with public keys it should be possible to use these keys to create/confirm transfers.

### What did you see instead?

Multi-sig contract returns an error with `invalid auth`̣ when used by the deployer which has its public key defined for multi-sig.

### Steps to reproduce the bug

1. Create multi-sig with at least one public key d

[2022-03-29 05:15] zsluedem commented on #3647
I create a [test](https://github.com/rchain/rchain/pull/3648) for transfer from Pos MultiSig.
I saw `coop.rchain.rholang.interpreter.errors$ReduceError: Error: index out of bound: -1)` . Is that what you see the case and get the conclusion of boolean operator bug?

[2022-03-30 02:55] zsluedem commented on #3647
Let me simplify the question which you don't need to know any details of the PoS, RevVault.Please **forget** about these application logics and focus on the** language layer**. The application concepts should not get into your head right now to save time. To put it into simple case. The goal is to make a boolean evaluation as short as possible. @dharsh#4553 I think you know some Python so I just s

[2022-03-30 03:33] zsluedem commented on #3362
We should use new syntax to support short-circuit evaluator like other languages.

https://en.wikipedia.org/wiki/Short-circuit_evaluation

**Both eager evaluation and short-circuit are needed.**

[2022-04-05 17:16] #3362 closed, assigned to zsluedem

[2022-04-10 18:27] Bill-Kunj commented on #3642
@tgrospic After Monday morning this is a blocking issue for RPC. Is there an update?

[2022-04-11 07:38] tgrospic opened #3656 "Refactor BlockMetaData serializer to use scodec"
## Overview

Currently, `BlockMetaData` object is serialized with the use of protobuf although it's not used in any protocol, but only as a internal object to store partial block information on disk.
Protobuf definition makes it harder to maintain and also introduces definition written is separate protobuf file. To simplify we want to define scodec serializer which can be used directly in `KeyValu

[2022-04-12 16:06] #3642 closed, assigned to nobody

[2022-04-13 01:52] #3647 closed, assigned to zsluedem

[2022-04-13 09:08] tgrospic opened #3659 "Refactor BlockAPI"
## Overview

To include new multi-parent finalization we need to refactor/delete a lot of existing code.

As part of this change we need to simplify current `BlockAPI` implementation.

## Design

1. Create `BlockAPI` trait with existing methods currently defined on the BlockAPI object
    - for now it can be in models project (because we have generated protobuf there!) in `coop.rchain.api`
1. Crea

[2022-04-13 21:33] hilltracer opened #3660 "Testing v0.13.0-alpha release with different LFS chunk size"
## Overview
This document provides the LFS boot memory test of [v.0.13.0-alpha release](https://github.com/rchain/rchain/pull/3622/files).

## Rnode parameters
 Considering two nodes: source (has full state) and destination (download LFS from src). Nodes run in docker with the next settings.
For src-node:
[code]
For dest-node:
[code]
Before performing the experiments, LFS was loaded on src-node fr

[2022-04-15 16:23] TheoXD commented on #3404
Scala Native 0.4.4 supports M1 chip https://scala-native.readthedocs.io/en/latest/changelog/0.4.4.html#improved-arm64-support

[2022-04-18 08:38] tgrospic commented on #3404
Unfortunately, it's a long road ahead to use Scala native to compile RNode. All dependencies must also be compiled with Scala native.
Libraries like [cats Scala native](https://github.com/typelevel/cats-effect/issues/1302) already working on the native version, I see some initial version for [scalapb](https://github.com/scalapb/ScalaPB/issues/387) also.
More challenge is probably [netty](https://g